[2017-02-12 05:12] grosser commented on #1216
is all good to go here ... would love to get a version that works with rack 2
... otherwise how about a release of 1.x that works with rack 2 ?

[2017-02-12 07:01] namusyaka commented on #1251
@mwpastore Could you confirm #1253?

[2017-02-14 13:01] zzak commented on #1216
I will try to do an rc in the next week or two.

[2017-02-16 00:09] adamdavis40208 opened #1258 "1.4.8 changelog?"
The changelog jumps from 1.4.7 to 2.0 -- was there anything in particular of interest in 1.4.8?

Thanks!

[2017-02-16 01:33] mwpastore commented on #1258
[Here](https://github.com/sinatra/sinatra/compare/v1.4.7...v1.4.8) is a comparison of the two releases. The major changes were 1. fixing Travis and 2. addressing the Fixnum deprecation warning in Ruby 2.4. That's it!

[2017-02-20 18:33] joelpresence commented on #1258
+1

[2017-02-21 22:24] romenigld commented on #1200
thank's @grempe!!!

[2017-02-24 03:11] Naggi-Goishi opened #1259 "can not render partial slim"
When I tried to render partial my view written in slim, the row html as string is displayed.

index.slim
[code]
mypartial.slim
[code]

It displays \<h1>Hello\</h1>

[2017-02-24 07:16] #1259 closed

[2017-02-24 18:25] tylernm14 opened #1260 "Bypassing JsonCsrf protection after google oauth authentication"
I'm using google oauth2 for authenticating users with my web service.  Most of the pages on the web service are JSON.  Users typically are navigating to a page that has `content-type: application/json` and then they are forwarded to google's authentication page.  Once authenticated, in the oauth callback I redirect them back to their originally requested page which is JSON.  Sinatra's JsonCsrf pro

[2017-02-27 04:49] jkowens commented on #1260
It doesn't look like Rack::Protection::JsonCsrf uses the `:allow_if` or `:origin_whitelist` override like Rack::Protection::HttpOrigin does. This seems like a possible oversight.

@zzak what do you think?

[2017-03-04 16:16] #1258 closed

[2017-03-04 16:23] zzak commented on #1249
Here are all the commits on README, most everything since the last release fits on one page:
https://github.com/sinatra/sinatra/commits/master/README.md

[2017-03-04 16:26] zzak commented on #1260
@jkowens Let's add it

[2017-03-04 16:48] zzak commented on #1141
@johnvoloski So we can close this ticket? :grimacing:

[2017-03-04 16:49] #1142 closed

[2017-03-04 18:30] zzak commented on #1216
RC :clapper:
https://github.com/sinatra/sinatra/releases/tag/v2.0.0.rc1
https://rubygems.org/gems/sinatra/versions/2.0.0.rc1

[2017-03-04 18:31] namusyaka commented on #1216
Awesome :1st_place_medal:

[2017-03-06 19:26] TheStalwart opened #1261 "Passing multiple URL-encoded slashes in request path breaks router"
So the use case of mine is a simple REST service that would take an urlencoded HTTP URL as a first path item and then some more path items as a parameters.

My code:
[code]

The result of executing a request:
`http://localhost:4567/http%3A%2F%2Fwww.example.com%2Fpath%2F/`

is the following output:
`url: http: request['path']: /http%3A/www.example.com/path/ URL: http://localhost:4567/http%3A/www.ex

[2017-03-06 22:28] mwpastore commented on #1261
Sinatra tries to [protect](http://www.sinatrarb.com/intro.html#Configuring%20attack%20protection) your app from [path traversal attacks](https://www.owasp.org/index.php/Path_Traversal) by being very careful with URL-encoded request paths. You can make it work the way you want it to by disabling Rack::Protection, or just Rack::Protection::PathTraversal:

[code]

(Note that the param key is `:url` (

[2017-03-07 22:00] TheStalwart commented on #1261
Thanks, i'll try it when if/when i use Sinatra again (hacked up my thing in pure Rack yesterday).

I've tried lots of things, including renaming parameters, before submitting a bugreport, so code pasted is not 100% correct, but just to explain the problem i encountered.

I'm pretty sure i tried that, and it didn't work, so disabling protection must be the only way to receive the parameter untouche

[2017-03-07 22:03] mwpastore commented on #1261
I'm pretty sure i tried that, and it didn't work, so disabling protection must be the only way to receive the parameter untouched

I tested both solutions above and they work fine, aside from the forward-slash-mangling issue I mentioned. If you try it again and run into more problems, let us know.

Anyway, happy to help!

[2017-03-08 00:21] j4zzcat opened #1263 "NoMethodError: undefined method `clear' for nil:NilClass"
I'm getting the following exception by simply curling to my decode_token get method.
Strangely enough, doing the exact same thing under rspec **does** work.
Puzzling situation.

[code]

[2017-03-08 00:46] mwpastore commented on #1263
Your Tilt::Cache is uninitialized for some reason. Can you show us more of how your application is configured and what your route does? Ideally distilled into a simple reproducible test case.

[2017-03-13 04:09] #1260 closed

[2017-03-13 13:42] jp0407 opened #1266 "I have seen a hacker on localhost 80 port 8080"
I don't have any charged on my Chromebook to attack the hacker so he is eating up my data I can show you where he is at

[2017-03-13 13:44] jp0407 commented on #1266
His on my database on Android phone it is true that he was going attack on Hyatt Regency, there were plenty of them

[2017-03-15 14:05] #1266 closed

[2017-03-16 08:05] zzak commented on #1107
After considering this again, anyone who is willing to write the patch (and tests).

I will accept adding an option for `:strict_paths` which defaults to true.

/cc @tejasbubane @kgrz @canton7 @beechnut #1216

[2017-03-16 23:12] b264 commented on #1107
I think django actually sends back the one without the trailing slash as a redirect.  So for the "because Rails does it", we can examine other ways too... and pick the best
`/foo` => HTTP 301 to `/foo/`

[2017-03-16 23:16] mwpastore commented on #1107
WordPress does the same.

[2017-03-16 23:33] zzak commented on #1107
By all means, patches please. :angel:

[2017-03-20 00:34] cls3 commented on #1117
same problem here

[2017-03-20 00:51] zzak commented on #1117
@cls3 Can you try using `gem 'sinatra', '2.0.0.rc2'`?

[2017-03-20 12:33] cls3 commented on #1117
That did the trick!

[2017-03-23 19:06] edgarjs opened #1268 "`IndifferentHash#dig` not fetching proper value"
If any key in the chain is not a symbol, it doesn't return the proper value.

https://gist.github.com/edgarjs/ee81ef25f3a377f8c4379acac3a43cc5

[2017-03-23 19:09] mwpastore commented on #1268
I'm working on an improved IndifferentHash that will address this issue.

[2017-03-24 01:52] zzak commented on #1268
D'oh, thanks for your report @edgarjs!

Awaiting your patch @mwpastore :)

[2017-03-26 16:47] dometto opened #1269 "Regular expression based routes result in infinite loop"
Thanks for your work on sinatra 2.0! When checking compatibility between [gollum](https://github.com/gollum/gollum/) and `sinatra v2.0.0rc2`, I ran into the following issue. The app would get stuck when attempting to parse the following route definition:

[code]

Basically it would keep returning to `mustermann-1.0.0/lib/mustermann/regular.rb:39`, in the `check_anchors` method. So I tried to defin

[2017-03-26 17:51] namusyaka commented on #1269
Looks like a bug of mustermann.
Mustermann::Regular didn't consider regexp pattern built with Regxp::EXTENDED.

[2017-03-26 19:06] dometto commented on #1269
Thanks. I opened the issue there.

[2017-03-26 19:06] #1269 closed

[2017-03-27 06:06] zzak opened #1270 "Relax Mustermann dependency"
Perhaps we should accept anything < 2:
https://github.com/sinatra/sinatra/blob/master/sinatra.gemspec#L31

/cc #1216

[2017-03-27 06:28] namusyaka commented on #1270
Is it the image like the following?
[code]

[2017-03-27 23:44] zzak commented on #1270
Should be < 2

[2017-03-27 23:45] zzak commented on #1270
I think we really just want ~> 1.0.0, I'm not sure anything pre 1.0 works ;)

[2017-03-27 23:49] #1251 closed

[2017-03-28 05:01] #1270 closed

[2017-03-28 05:04] zzak opened #1274 "Tie Rack::Protection, Sinatra::Contrib version to Sinatra::VERSION"
I plan to maintain/release these gems in unison, so it's better to re-use the same VERSION to avoid confusion.

Much in the way that Rails ships activerecord, actionpack, etc

/cc #1216

[2017-03-28 05:05] zzak opened #1275 "Generate docs for sinatrarb.com"
Including `sinatra`, `sinatra-contrib`, and `rack-protection` all under one roof.

/cc #1216

[2017-03-28 05:07] zzak opened #1276 "Update CHANGELOG"
https://github.com/sinatra/sinatra/compare/v2.0.0.beta2...master

/cc #1216

[2017-03-28 05:08] zzak opened #1277 "Find out why `paper_trail` gem doesn't work w/ Sinatra 2"
https://github.com/airblade/paper_trail/issues/856

[2017-04-01 05:12] zzak commented on #1268
Closed by #1279

[2017-04-01 05:12] #1268 closed

[2017-04-03 09:31] zzak commented on #1107
Resolved by #1273

[2017-04-03 09:31] #1107 closed

[2017-04-03 15:18] raldred opened #1280 "Routes added in extension are not available after reload"
I'm was hoping to use the extensions to separate up routes in my modular application.
I'm hitting an issue with the reloader extension.

When changes are made to one of my extensions that provides some routes, those routes are not longer available after saving, sinatra return 404. A full boot of the app brings them back.

The routes are added inside `self.registered(app)`

Any changes to the route

[2017-04-03 18:13] Nakilon opened #1281 "undefined method `after_reload' for main:Object (NoMethodError)"
I've found that Reloader does not reload I18n. Then I've found this discussion that says I need `after_reload`: https://github.com/sinatra/sinatra-contrib/issues/179#issuecomment-213719647
But thing like this:

[code]

gives:

Is it because this method is not presented in module ExtensionMethods https://github.com/sinatra/sinatra/blob/master/sinatra-contrib/lib/sinatra/reloader.rb#L345 or am I doi

[2017-04-03 18:38] Nakilon commented on #1281
Oh, it seems like I need Sinatra 2.0 for that.

[2017-04-03 18:38] #1281 closed

[2017-04-08 11:01] iffyuva commented on #1274
@zzak should we have something like this https://github.com/rails/rails/blob/master/tasks/release.rb ?

[2017-04-08 14:16] zzak opened #1283 "Testing slack integration"

[2017-04-08 14:16] #1283 closed

[2017-04-08 14:16] zzak commented on #1283
hayyyy

[2017-04-11 06:55] voelzmo opened #1286 "HTTP PUT with json containing percent fails"
## Steps to reproduce
* Create a sinatra app which accepts HTTP PUT
[code]

* run with `ruby myapp.rb`
* put some json data which contains a percent `%`
[code]

## Expected
This just works

## Actual
Stacktrace
[code]

## Note
This works when using plain rack, therefore not sure how much it is related to https://github.com/rack/rack/issues/520 and https://github.com/rack/rack/issues/337 respective

[2017-04-11 14:58] mwpastore commented on #1286
This is more or less by design. Since you are sending a JSON-encoded payload, you should set the content-type of the request to application/json:

[code]

[2017-04-11 15:12] mwpastore commented on #1286
I will concede that there are some puzzling inconsistencies in how this is handled in Rack 1.6 and Sinatra 1.4 (e.g. PUT vs. POST, Rack vs. Sinatra), but they appear to have been addressed in Rack 2.0 and Sinatra 2.0 (beta/RC).

[2017-04-11 15:14] voelzmo commented on #1286
Ah, great, thanks!

I've verified it works with the header and sinatra `1.4.7`. Will update my client implementation.
You're right, the inconsistencies between PUT and POST was also very weird to me.

[2017-04-12 06:26] #1286 closed

[2017-04-12 23:59] rushingfitness commented on #1055
If you're using grape, there's a conflict using 2.0.0.beta2 as it depends on `'mustermann', '1.0.0.beta2'` which `grape 0.19.2` (highest current version) depends on `mustermann (~> 1.0.0)`:

    Bundler could not find compatible versions for gem "mustermann":
      In Gemfile:
        mustermann (= 1.0.0.beta2)

        grape was resolved to 0.19.2, which depends on
          mustermann-grape (~>

[2017-04-13 00:03] mwpastore commented on #1055
@rushingfitness Try `2.0.0.rc2` instead.

[2017-04-13 00:06] rushingfitness commented on #1055
@mwpastore I could kiss ya! Thanks man, don't know how I missed the rc's :)

[2017-04-19 18:26] and09 opened #1288 "on mac "\x89""
# gem install sinatra
Fetching: sinatra-1.4.8.gem (100%)
Successfully installed sinatra-1.4.8
Parsing documentation for sinatra-1.4.8
unable to convert "\x89" from ASCII-8BIT to UTF-8 for lib/sinatra/images/404.png, skipping
unable to convert "\x89" from ASCII-8BIT to UTF-8 for lib/sinatra/images/500.png, skipping
Installing ri documentation for sinatra-1.4.8

1 gem installed

[2017-04-24 03:18] chenillen opened #1289 "Can we make an official subdomain support in sintra-contrib?"
Since https://github.com/fnando/sinatra-subdomain subdomain hasn't updated for a long while.

[2017-04-24 11:28] zzak commented on #1289
Is this something people really want?

Would you be able to supply a patch and maintain it?

[2017-04-26 02:59] llamicron commented on #1146
@zzak I know this issue is closed and all, but your solution was correct for me:

[2017-04-26 06:43] #1263 closed

[2017-04-27 19:16] j4zzcat opened #1290 "In modular style, instance variables are not passed from filter to route"
Consider the following code:
[code]
As far as I understand, both ```@var1``` and ```@var2``` should have properly passed from their respected filter. However, only the instance variable ```@var2``` (was set in the same module as the route) get passed.

Please advise.

[2017-04-27 23:46] mwpastore commented on #1290
This is more or less by design. Each middleware is its own class, so why would you expect instance variables to be shared between them? If you want to pass "things" from an outer middleware to an inner middleware or the app, the typical pattern is to stash it in the `env` hash.

[2017-04-28 08:15] #1290 closed

[2017-04-29 14:17] j4zzcat commented on #1290
Thanks.

[2017-05-06 22:43] #1276 closed

[2017-05-06 22:43] #1274 closed

[2017-05-07 06:05] #1275 closed

[2017-05-07 07:49] iffyuva commented on #1216
@zzak we can close this issue, close the milestone and call it a day?

[2017-05-10 12:14] frankymad opened #1294 "Unable to activate dm-serializer-1.2.2, because json-2.0.2 conflicts with json (~> 1.6) (Gem::ConflictError)"
After Sinatra update to 2.0.0 version, my project fail to start.
Downgrade to sinatra 1.4.6 solved my issue.
Sinatra + Datamapper 1.2.0

How can i use SInatra 2.0.0 with Datamapper?

[2017-05-10 17:41] zzak commented on #1294
Could you provide a stacktrace?

[2017-05-12 02:22] #1216 closed

[2017-05-23 01:26] Sandro1991 commented on #1294
Help... Issue in my Proyect.

[2017-05-23 08:54] stereobooster opened #1296 "Namespaces and Rack-Router don't work as expected"
[code]

[2017-05-23 14:58] jkowens commented on #1296
Could you elaborate more about what you mean they don't work as expected? If you could provide a complete code sample that would help as well.

[2017-05-23 18:26] adrianbn opened #1297 "Namespaces and MultiRoute don't play along"
Hi,

I have a Sinatra app that uses namespaces and I was trying to add multiroute, but they don't seem to be compatible. If within a namespace you try to define a multiroute you get the following error:
`TypeError: no implicit conversion of String into Hash`.

[code]

If I `extend Sinatra::MultiRoute` within my namespace the error is not thrown, but the second route is not recognized and returns a

[2017-05-24 05:03] jkowens commented on #1297
By doing `extend Sinatra::MultiRoute` you should at least get your basic example to work. Sinatra::Namespace won't handle `route` functionality, but it looks like basic `get` calls work:

[code]

Another option might be to forget MultiRoute and just use Namespace patterns:

[code]

[2017-05-24 08:17] adrianbn commented on #1297
Hey @jkowens, thanks for the feedback.

Both of your examples turn out the same; doing `extend Sinatra::MultiRoute` as in your example above results in only the first route (`/foo`) being recognized by Sinatra. The second route throws a 404. The same thing happens when using the `get ['/foo', '/bar']` syntax.

I've also tried using a regex such as `get %r{(/foo|/bar)} do` but that ends up giving 4

[2017-05-24 12:02] jkowens commented on #1297
That's odd, I tested both and they worked. Are you using Sinatra 2.0?

[2017-05-24 13:49] adrianbn commented on #1297
No, I'm on 1.4 mostly for things like sinatra-param.

[2017-05-25 00:55] jkowens commented on #1297
Oh gotcha, yeah pattern matching is one of the improvements in the latest release.  I would expect most extensions to be compatible with Sinatra 2 with only minor updates. Hopefully they catch up soon!

[2017-05-25 17:50] jkowens commented on #1277
I've sent up a PR to the paper_trail-sinatra project to add Sinatra 2 support:

https://github.com/jaredbeck/paper_trail-sinatra/pull/1

As far as I can tell there wasn't any conflict with Sinatra 2.

[2017-05-25 18:15] jkowens commented on #1277
Good news, the PR was merged and will be included in the next paper_trail-sinatra release.

[2017-05-25 18:40] jkowens commented on #1297
Here's an example alternative for namespaces suggested by @kytrinyx with MultiRoute supported added:

[code]

See: https://github.com/sinatra/sinatra-contrib/issues/136#issuecomment-48832850

[2017-05-25 18:51] jkowens commented on #1296
Also, what version of Sinatra are you using?

[2017-05-25 22:42] zzak commented on #1277
Nice @jkowens, thank you for working on this! :bow:

[2017-05-26 07:53] adrianbn commented on #1297
That's a good pattern as well, thanks. I'm going to close this and try to get sinatra-param upgraded to use sinatra 2. Thanks!

[2017-05-26 07:53] #1297 closed

[2017-05-26 12:38] stereobooster commented on #1296
Sinatra 1.4. Detailed example [here](https://gist.github.com/stereobooster/985cdbd494688e7b50551d2d62aaae1b). Also feel like I miss something simple

[2017-05-26 13:55] stereobooster commented on #1296
Figured out it

[code]

[2017-05-26 13:55] #1296 closed

[2017-05-26 17:37] zzak commented on #1297
Perhaps we could put this in the docs somewhere? :bow:

[2017-05-27 07:26] topporo opened #1299 "revise for GETTING STARTED"
I've tried running 'sinatra' for the first time.
Try to follow 'README' at the public site, but stopped at 'Getting started'
The instruction of getting started uses the first example, 'myapp.rb'.
But I did not notice it.

Thus I suggest to revise the instruction,
Not only

[code]
but

[code]

[2017-05-28 17:07] pravinpande commented on #1100
@iCHAIT
Were you able to resolve the issue? I am facing similar issue.
@kgrz I use rbenv version manager, Ruby 2.4.0 and sinatra gem installed.
I am getting below error:
/home/pravin/.rbenv/versions/2.3.1/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- sinatra/reloader (LoadError)
	from /home/pravin/.rbenv/versions/2.3.1/lib/ruby/2.3.0/rubygems/core_ext

[2017-05-28 18:05] iCHAIT commented on #1100
@pravinpande Yeah, I was able to resolve it. So apparently there were 2 versions of ruby installed on my machine, deleted both of them, and did a fresh install of the required version using `rvm`.

Would recommend using any ruby version manager as pointed out by @kgrz

[2017-05-28 18:29] smanezItec commented on #1294
`# frozen_string_literal: true
source "https://rubygems.org"

# gem "rails"

gem "sinatra", "~> 1.4.6"

gem "json", "~> 1.6"`

My Gemfile. Help. I'm sorry for my english.

[2017-05-28 18:45] pravinpande commented on #1100
Looks like there is something else. I have only one version but it's giving me the same error.

[2017-05-28 18:49] pravinpande commented on #1100
So apparently sinatra-reloader gem was missing. Thanks @iCHAIT

[2017-05-28 23:01] zzak commented on #1294
@smanezItec Could you send us a backtrace please? :bow:

[2017-05-28 23:05] zzak opened #1300 "Encrypt cookies with AES-GCM"
Recently, Rails added AEAD encrypted cookies: rails/rails#28132

We currently encrypt using SHA1: https://github.com/sinatra/sinatra/blob/1b0edc0aeaaf4839cadfcec1b21da86e6af1d4c0/rack-protection/lib/rack/protection/base.rb#L111

/cc @jkowens @mikeycgto

[2017-05-28 23:07] mwpastore commented on #1300
We should at least use SHA2 out of the box.

[2017-05-29 00:22] zzak commented on #1300
I'm sorry I didn't think of this until now :disappointed:

[2017-05-29 10:08] smanezItec opened #1301 "Error Data_mapper with Sinatra 2.0.0"
My Gemfile.lock

`source "https://rubygems.org"

gem 'sinatra', '1.4.8'
gem 'data_mapper', '1.2.0'
gem 'dm-sqlite-adapter', '1.2.0'
gem 'json', '~>1.6'
gem 'thin', '1.7.0'
gem 'slim', '3.0.8'
gem 'shotgun', '0.9.2'`

Gem::ConflictError: Unable to activate dm-serializer-1.2.2, because json-2.1.0 conflicts with json (~> 1.6)

[2017-05-29 12:18] mikeycgto commented on #1300
I'd be happy to look into this and submit a PR to upgrade the encryption.
With Rails, most of the complexity with my changes was around supporting
seamless upgrades from the now legacy encryption to this new scheme. Is
that something Sinatra would be interested in supporting?

http://michaeljcoyne.me

On May 29, 2017 2:22 AM, "Zachary Scott" <notifications@github.com> wrote:

[2017-05-30 00:24] Ianden commented on #1294
Having the same issue.

`
        from /home/landen/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/rubygems/specification.rb:1442:in `block in activate_dependencies'
        from /home/landen/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/rubygems/specification.rb:1428:in `each'
        from /home/landen/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/rubygems/specification.rb:1428:in `activate_dependencies'
        from /ho

[2017-05-31 07:27] CloCkWeRX commented on #453
This or something very similar appears to have cropped up in  2.0.0 (params regularly contains 'captures' again); I'm unclear if it was intentional or a regression of this issue; and the only time its mentioned is in the changelog for 0.9.0(!) as being added in... which this bug disagrees with.

If its intended (http://www.sinatrarb.com/intro.html suggests yes); would it be possible to document in

[2017-05-31 10:22] mikeycgto commented on #1300
Started to look more into this and I'm little confused as to where session cookies come from for Sinatra. Do they come from rack/session/cookie code base or do they solely come from the above mentioned file?

Either way, both are just doing a HMAC for cookie security. I think introducing AES encryption would certainly be a worthwhile addition to Sinatra (and thus introduce confidential to the syst

[2017-06-01 02:18] zzak commented on #1301
Closing as duplicate of #1294

[2017-06-01 02:18] #1301 closed

[2017-06-01 11:00] mikeycgto commented on #1300
Thanks for the feedback. Will look into creating a PR sometime next week (as I am away in Europe at the moment). Will be great to have Sinatra and other rack apps benefit from more modern encryption!

[2017-06-01 15:27] codeblooded commented on #1289
I'm a new contributor, and (if this really is a wanted feature), I could supply a patch and maintain it.

[2017-06-01 23:55] codeblooded commented on #1288
What version of macOS, Ruby, and RubyGems are you using?  I'm trying to duplicate, but I haven't been able to yet...

- macOS 10.12.5 (16F73)
- RubyGems 2.6.11
- ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]

[2017-06-03 08:21] sushant12 opened #1302 "what is the point of adding this?"
In the [base.rb](https://github.com/sinatra/sinatra/blob/master/lib/sinatra/base.rb#L84) file what is the point of adding private?

[2017-06-03 17:40] richiethomas commented on #1302
@sushant12 what do you mean?  Are you asking what the `private` keyword does, or why was it necessary to include it here?

[2017-06-04 00:25] sushant12 commented on #1302
I am asking why was it necessary to include it there?

[2017-06-04 00:26] sushant12 commented on #1302
private is only for methods right?

[2017-06-04 00:46] richiethomas commented on #1302
`private` can be for any chunk of code that shouldn't be public-facing or usable in other parts of the codebase.  For example, the `AcceptEntry` class that you see immediately after the `private` keyword appears to be used only by the `Request` class, within this file.

My best guess is that the author's intent was to encapsulate a discrete set of logic inside of a class, but didn't want to make t

[2017-06-04 01:04] sushant12 commented on #1302
@richiethomas  :)

[2017-06-04 01:14] sushant12 commented on #1302
@richiethomas

`With no arguments, sets the default visibility for subsequently defined methods to private. With arguments, sets the named methods to have private visibility.`

Thats what I got from the api doc about private keyword but you said `private can be for any chunk of code that shouldn't be public-facing or usable in other parts of the codebase` can you please help me clarify?

[2017-06-04 01:15] sushant12 commented on #1302
is private only for methods?

[2017-06-04 01:30] sushant12 commented on #1302
same question in https://github.com/sinatra/sinatra/blob/master/lib/sinatra/base.rb#L650

[2017-06-04 03:50] richiethomas commented on #1302
@sushant12 I stand corrected!  Looks like `private` is indeed only for methods.  I had assumed otherwise because of the way I saw it being used in the `sinatra/base.rb` file.  But the docs clearly back up your point (which would also explain why it didn't prevent me from instantiating `AcceptEntry` as I mentioned above).

At the risk of speculating, your question still stands- what is the purpose

[2017-06-04 13:20] murdho commented on #1280
Hey @raldred, do you still have the issue with Sinatra 2.0 release? I couldn't reproduce the issue with version 2.0.

Could you also verify that are you registering the `Sinatra::Reloader` before your extensions? Since reloader overrides some `Sinatra::Base` methods, it might be that the first time the extension is registered without the overrides and that seems to trigger some unwanted behaviour.

[2017-06-07 01:42] milesalex commented on #1294
I have this error too!

[2017-06-07 02:07] goocastro commented on #1294
Same here

[2017-06-07 02:42] sushant12 commented on #1302
any updates for this from the core maintainers would be great

[2017-06-07 13:15] smanezItec commented on #1294
Soluciòn: utilizar Bundler con un archivo Gemfile

Supongamos que tu aplicación se llama MiApp, se encuentra en mi_app/app.rb y tiene el siguiente código:

require 'sinatra'

class MiApp < Sinatra::Base
  get "/" do
    "Hola mundo!"
  end
end

    Crea un archivo Gemfile, en el directorio raíz de tu aplicación, con el siguiente contenido:

    source "https://rubygems.org"

[code]

    Crea un ar

[2017-06-07 15:20] lvonk opened #1304 "Streaming zip using Sinatra::Streaming and rubyzip not working"
Hi,

I am trying to stream a zipfile using `rubyzip` and `Sinatra::Streaming` using sinatra 1.4.7 and rubyzip 1.2.1

Until now I am unable to get it working due to:

1) The `out` passed as block argument into `stream` has 2 issues:
    1) The `Zip::OutputStream.write_buffer` takes an IO argument like StringIO and it expects a `reopen` method to be present. This is missing in the `out` object.

[2017-06-07 17:07] mediafinger opened #1305 "Cloning fails due to zero-padded file modes"
I tried to clone the project but it does always fails. There seems to be an issue with the integrity of the git repo.

I also tried forking it (worked) and then cloning it (same issue).

[code]

[2017-06-07 18:10] b264 commented on #1305
I just tried it and it did work.

[code]

[2017-06-07 18:12] b264 commented on #1305
What version of git are you using?

[2017-06-07 18:14] mediafinger commented on #1305
`git version 2.13.0`  (just tried again, still the same issue)

[2017-06-07 18:28] lvonk commented on #1304
Okay, after a tip on a ruby user group I switched in using the [WeTransfer's ZipTricks gem](https://github.com/WeTransfer/zip_tricks/) and that works fine. So I guess it is rubyzip then that does not support streaming.

[2017-06-07 18:28] #1304 closed

[2017-06-07 18:33] mediafinger commented on #1305
In my `.gitconfig` I have the setting:

    [transfer]
      fsckobjects = true

When I change this to `false` I can clone the repo. Running `git fsck` yields following results:

[code]

In case one of the maintainers is interested in fixing this, maybe this contains some hints:
<https://git.wiki.kernel.org/index.php/GitFaq#How_to_fix_a_broken_repository.3F>

[2017-06-08 00:48] b264 commented on #1305
Yes, it is showing as corrupt for me as well.  Why does `git` not default to `fsckobjects` I wonder ...

[2017-06-08 21:19] bwad opened #1308 "Consider adding ./VERSION file to gemspec in order to support local unpacking."
Ruby Version: 2.3.3p222 (2016-11-21 revision 56859) [x86_64-darwin15]

**Procedure to reproduce:**

1. Unpack gem locally:

        gem unpack sinatra

2. Create Gemfile:

        source "https://rubygems.org"
        gem 'sinatra', :path => './sinatra-2.0.0'

3. Run bundler:

        bundle install

    Output:

        [!] There was an error while loading `sinatra.gemspec`: No such file or

[2017-06-08 22:38] b264 commented on #1308
Do you know why [this one](https://github.com/sinatra/sinatra/blob/a58834812b455101111ef332c7510bc9083c30d0/VERSION) doesn't work?

[2017-06-09 00:28] bwad commented on #1308
I expect it would.

The issue is that the gemspec has a dependency on the existence of the '../VERSION' file and running bundle install on the locally unpacked gem trips over the unsatisfied dependency.

I could have copied the one from the project to fix my problem, but the issue is that it would be easier if it came with the unpacked gem in the first place.  I expect that adding "VERSION"  to th

[2017-06-09 17:50] mikeycgto commented on #1300
Put together a PR for `Rack::Session::Cookie`. Any and all feedback or questions is welcomed!

As far as `Rack::Protection::SessionHijacking` goes, the use the `encrypt` method is no longer needed. Since the underlying session is encrypted and signed, we can just rely on the security of that. Using AES for the encrypting the session data now introduces confidentiality, thus making the `SessionHija

[2017-06-09 22:46] aren55555 opened #1310 "Nested Namespaces worked in 1.4.8, broken in 2.0.0"
I'm not sure if nested namespaces are actually supported as I don't see any specific mention of them in the docs. Anyhow in Sinatra 1.4.8 I could define an app like:

[code]

cURLing the endpoint:

[code]

Now if I define a similar app in Sinatra 2.0.0:

[code]

And then cURL the same path:

[code]

With this 2.0.0 Sintra app I decided to list all the GET paths:

[code]

Which results in:

[code]

[2017-06-10 03:13] kgrz commented on #1302
This `private` keyword is confusing, I agree ☹️ This is an artifact of code changes that happened overtime. The original change that introduced this is from https://github.com/sinatra/sinatra/commit/4f35139b594c6a56acff2f8ceb71000642518d6d

Notice that back then the private keyword was being used for a single method. When that method got changed, the keyword wasn't removed.

Reopening this issue s

[2017-06-10 04:01] sushant12 commented on #1302
Hi @kgrz , I have sent a PR :)

[2017-06-11 04:24] arbales commented on #1280
I also had this problem — I was able to resolve it partially, but now the contents of my routes aren't updating. Using v2.0.

[2017-06-11 06:39] raldred commented on #1280
Hey sorry for late reply. I have configure blocks defined where
Sinatra::Reloader is setup. Im pretty sure the extensions are loaded in
after that. I'll double-check​ later.

On Sun, 11 Jun 2017, 05:24 Austin Bales, <notifications@github.com> wrote:

[2017-06-12 23:44] arbales commented on #1280
@raldred are you also using `Sinatra::Extension`?

[2017-06-13 11:39] chenillen commented on #1289
Sorry guys, I think the project is under maintaining now.

[2017-06-14 23:32] hamad2030 commented on #1294
I have the same problem >> any solutions yet?

[2017-06-17 11:15] mydoghasworms opened #1311 "Change to layout not reflected on production site"
I have a website running Sinatra and Puma with Nginx proxying traffic via an upstream to the Sinatra app.

Now I have made a change in views/layout.erb. Because the Sinatra app is running in production mode, I have restarted both Puma and Nginx, but when refreshing the browser, I cannot see the change in the layout.

The settings are just standard; I have not made any out-of-the ordinary settings,

[2017-06-17 17:26] rennex commented on #1311
Restarting Puma reloads the Sinatra app, so the change should have taken effect. Usually Nginx doesn't even need to be restarted when the upstream app is restarted.

I would suggest the following steps for debugging:

- Sometimes people make edits with faulty logic, so they don't cause a change in the output even when the code was successfully reloaded. One way to check for sure is to add an html

[2017-06-18 06:06] mydoghasworms commented on #1311
@rennex I had exhausted all those avenues.

However, I went and checked now and I noticed that, even after restarting puma, the process associated with its socket was always the same. So I killed that process, restarted puma, and now the updates are reflecting.

If it happens again, I will see if I can take the issue up with the Puma team. Maybe there is something in their documentation that I mis

[2017-06-18 06:06] #1311 closed

[2017-06-22 18:02] mencargo commented on #1310
We are experiencing the same problem.
Sinatra 2 introduced Mustermann as a dependency for string matching, the errors are originating from that gem.

An weird behavior is that if the second level namespace is a param like /:version instead of /v1 in the example above, you would get:
[code]

[2017-06-22 22:24] aren55555 commented on #1310
@mencargo I've seen that same error too when trying to setup params within namespace; however when I reported the issue I was trying to make it as simple as possible. Both scenarios used to work and now no longer do.

However, I don't see any documentation indicating that they were ever supported and I am just hoping we get some clarification on this issue. It's blocking my upgrade from 1.x to 2.x

[2017-06-25 04:07] ijunaid8989 opened #1316 "NoMethodError: undefined method `join' for #<String:0x00000002c88ca8>"
Gemfile

[code]

and my test file

[code]

and app file
[code]

This as simple as it is but I am getting error.

I have tried to update Sinatra to the master branch directly, But I found the errors for
[code]

[2017-06-25 05:09] rennex commented on #1316
You didn't include a stack trace that would pinpoint the source of the exception, but no matter, I recognise the error. Many people have encountered it before, and I think Sinatra could do some sanity checking to produce more useful errors in these cases.

Basically you can return three types of values from a Sinatra route handler:

1. A String that becomes the response body
2. An Integer that bec

[2017-06-25 08:38] ijunaid8989 commented on #1316
Thanks, That was it.

[2017-06-25 08:38] #1316 closed

[2017-06-28 15:27] romasks commented on #1249
Hi. I'd like to update [Russian](https://github.com/sinatra/sinatra/blob/master/README.ru.md) translation of 2.0 README.

[2017-06-29 15:54] romasks commented on #1249
There is a phrase in section [Literal Templates](https://github.com/sinatra/sinatra/blob/master/README.md#literal-templates): "if there is a filesystem path **or** line associated with that string". Maybe **and** will be more suitable in this context?

[2017-07-01 15:30] stuartambient opened #1318 "Sinatra won't work for me."
I have tried a few different things here, first the simple "hello world" in the readme. And more recently

[code]

Running rackup with debug I got these errors -
[code]

And with ruby -debug
[code]
The version of Ruby I run (via RVM) is 2.4.1 , it looks like "maybe" Sinatra is looking for 2.4.0?

This is my gem environment.

[code]
Gem list
*** LOCAL GEMS ***

[code]
vagrant@vagrant:/vagrant/TestR

[2017-07-01 17:19] stuartambient commented on #1318
Sorry, but somehow I at least got to the Sinatra page, so I'll just close this issue.

[2017-07-01 17:19] #1318 closed

[2017-07-02 06:45] Ox16 commented on #1288
mac OS = 10.12.4 (16E195)
$ gem -v
2.4.8
$ ruby -v
ruby 2.0.0p648 (2015-12-16 revision 53162) [universal.x86_64-darwin16]

[2017-07-03 07:50] faragorn opened #1319 "Requiring 'sinatra' and 'sinatra/contrib' causes method redefined on Test"
I created a repo with very basic setup that replicates the issue: https://github.com/faragorn/sinatra-method-redefined
If you comment out `require 'sinatra/contrib'` in `app.rb` the warnings will go away.
## Environment:
**Ruby Version:** 2.2.2
**Sinatra Version:** 2.0.0
**Testing Framework:** Minitest (haven't tested this with any other frameworks, but pretty sure the outcome is gonna be the same

[2017-07-04 05:45] zzak commented on #1302
Sorry to have wasted your time here, the reason it is private is because _it is_.

We need a good reason for changing the visibility.

What is the use-case you have for making it public?

[2017-07-04 05:45] #1302 closed

[2017-07-04 05:53] #1277 closed

[2017-07-04 05:55] zzak commented on #1280
While I'm not entirely sure, I _think_ this sounds related to how Mustermann compiles routes when they are defined.

[2017-07-04 05:56] zzak commented on #1288
@and09 @Ox16 Could you try upgrading to the latest version of Ruby and installing the gem?

[2017-07-04 05:57] zzak commented on #1289
I think it's up to @fnando tbh

[2017-07-04 05:58] zzak commented on #1294
Please remove the `gem 'json', '...'` from your Gemfile and try again :bow:

[2017-07-04 05:59] zzak commented on #1299
Hello @topporo,

From the README your `myapp.rb` should look like this:

[code]

[2017-07-04 05:59] #1299 closed

[2017-07-04 06:01] zzak commented on #1300
@mikeycgto Does that depend on your PR to Rack getting merged and released?

[2017-07-04 06:01] zzak commented on #1305
fsck my life

[2017-07-04 06:02] fnando commented on #1289
I recently moved to a different country and that required all my focus. My life is getting back on track and I'm slowly tackling outstanding PRs/bugs on my projects. Sorry for the lack of communication.

As for moving sinatra-subdomain into sinatra-contrib: I have no objections. I'm not sure I'll be able to maintain it though.

[2017-07-04 06:03] zzak commented on #1308
Ahh sorry, this must have been an oversight.

Could you send a patch? :bow:

[2017-07-04 06:06] zzak commented on #1310
I wonder if this is similar to #1251 or affected in some way.

There is also _some_ coverage for nested namespaces here:
https://github.com/sinatra/sinatra/blob/69a7b8f23321f19c6de02212153f2821c16c25c7/sinatra-contrib/spec/namespace_spec.rb#L468-L478

[2017-07-04 06:06] zzak commented on #1310
/cc @mwpastore @namusyaka

[2017-07-04 06:08] zzak commented on #1319
This is probably due to our Delegator doing weird things:
https://github.com/sinatra/sinatra/blob/master/lib/sinatra/base.rb#L1915-L1939

[2017-07-04 06:10] zzak commented on #1289
@fnando Thanks for your quick reply!

I'm happy to give you commit if you want to send a PR to merge your extension! :bow:

[2017-07-04 06:19] sushant12 commented on #1302
@zzak  but what is private being applied to?

[2017-07-04 10:43] namusyaka commented on #1310
I'm going to take a look at this issue in a few days.

[2017-07-04 13:36] zzak commented on #1310
@namusyaka お願い致します！ :pray:

[2017-07-04 14:15] topporo commented on #1299
Hello, zakk.
I understand.
Thank you for responding.

[2017-07-04 14:32] mikeycgto commented on #1300
Yes, my [changes](https://github.com/sinatra/sinatra/compare/master...mikeycgto:session-hijack-changes) to rack/protection/session_hijacking would require my PR for Rack to be merged before that can be merged. I made a branch for it on my sinatra fork but have yet to open a PR.

Maybe we move my changes to the cookie middleware into an independent middleware that sinatra can use directly? Getting

[2017-07-04 17:31] chenillen commented on #1289
It's great to hear that, thanks a lot. @fnando and @zzak.

[2017-07-05 09:48] zzak commented on #1300
@mikeycgto Yeah, I'm :+1: to rolling this out into a shim or something once it's merged.

We will probably want to support the next major rack release, whenever that is, I guess rack 3 will be a thing. But until then we should still support your encrypted cookies

[2017-07-05 14:09] mikeycgto commented on #1300
Sounds good. I can take my changes to rack's cookie middleware and integrate them directly into sinatra for the short term. Will put together a PR for this soon.

[2017-07-05 15:45] namusyaka commented on #1310
@aren55555 @mencargo @zzak Could you confirm my pull request(#1322)?

[2017-07-05 17:08] mike-bailey commented on #1294
I got this area, and I don't have JSON in my Gemfile, but I have plenty of other stuff:

[code]

[2017-07-05 18:46] b264 commented on #1302
@zzak this could be a bug and I think you should reopen the @sushant12 pull request for more discussion.  Perhaps `private_constant :AcceptEntry` after the class definition is what is actually intended here, but `private` is basically a code comment the way it's used here, and should be removed for clarity because it's not actually making the class private.
[code]
Are you seeing something we are m

[2017-07-09 18:35] sammyhenningsson commented on #1319
I'm extremely new to sinatra so I might be wrong, but I think problem is within the ConfigFile extension.
When the extension is registered (which will setup the delegation for the config_file instance method) then it sets up the delegation again by itself. Please see: https://github.com/sinatra/sinatra/blob/master/sinatra-contrib/lib/sinatra/config_file.rb#L172
Just deleting that line did the tric

[2017-07-11 02:23] Ice-Storm commented on #1249
Hi. I'd like to update [Chinese](https://github.com/sinatra/sinatra/blob/master/README.zh.md) translation of 2.0 README.
PR [#1323](https://github.com/sinatra/sinatra/pull/1323)

[2017-07-11 15:53] Ice-Storm commented on #1280
I didn't meet the same problem when I run your code with Sinatra 2.0, except missing the code `Leads.run!`.

[2017-07-14 11:08] takahashi64 opened #1326 "Override a single view of a mounted Sinatra app (in rails)"
How do I override a single Sinatra view? At the moment, I've sub-classed the app's `Sinatra::Base` class and added the following code:
[code]

But this means I have to copy over and override all the views from the app. Is it possible to override a single view?

[2017-07-17 11:52] Kanshiroron opened #1327 "Sinatra 2.0.0 - system overloads on large uploads"
Hello,
I have a small web service that basically have a single endpoint to upload large files (docker tar images ~800MB)
However, I just upgraded Sinatra to version 2.0.0 (from 1.4.7), and my uploads now takes forever (over 10min (timed out) from the very same server that hosts the web service -> via loopback), compared to a few seconds before.
Also, the CPU is now at 100% (on a single thread -> 2

[2017-07-17 16:04] Ice-Storm commented on #1327
It has nothing to do with Sinatra.
You should studay that how to deal large file in ruby.
 [What are all the common ways to read a file in Ruby?](https://stackoverflow.com/questions/5545068/what-are-all-the-common-ways-to-read-a-file-in-ruby)

[2017-07-17 22:11] Kanshiroron commented on #1327
Just to make sure we're on the same page, the issue is not the RAM but the CPU, and the issue is definitively on the server side. Also, the only thing that changed between my two tests is the Sinatra version.
Are you basically suggesting me to stream the upload to the file?

To give you more details on the issue with Sinatra 2.0.0: if I add a log on the server side, between the check and the save,

[2017-07-18 03:49] jkowens commented on #1327
In the Sinatra app, shouldn't the write mode be binary? Also, you reference params['css'] instead of params[:css].

[code]

[2017-07-18 10:06] Kanshiroron commented on #1327
Thanks @jkowens
For the "param['css']", I had the change on my program but I copy/pasted from another one...
Regarding the binary write mode, I tested with it but this doesn't change anything.

Here is my server side code:
[code]

The "WE ARE HERE" is never displayed

Best,

[2017-07-18 13:52] jkowens commented on #1327
Can you try something like this:

[code]

Does your code work for small files?

[2017-07-18 15:10] jkowens commented on #1327
Interesting, so I see the same behavior for large files. The issue occurs before even entering the Sinatra route handler. When a large file is sent as param data, it takes a very long time to parse the params. This points to the issue being with Rack v2. I think someone will have to dig around in the [Rack::Multipart::Parser](https://github.com/rack/rack/blob/master/lib/rack/multipart/parser.rb#L5

[2017-07-18 16:38] jkowens commented on #1327
Checking the Rack issue tracker confirms that this is a Rack issue.
See: https://github.com/rack/rack/issues/1075 and https://github.com/rack/rack/pull/1179

[2017-07-18 23:12] janko-m commented on #1327
Do you need this to be a multipart-encoded upload? Can it be an upload where the request body holds only the content of the file? That way you can avoid multipart parser, and on Puma request body is a Tempfile already,

[2017-07-19 08:33] Kanshiroron commented on #1327
@janko-m Not at all.
To be honest this is a (very) small internal project, and I don't even need Sinatra to be updated (it will probably stay in 1.4.7).
It's just that I noticed the issue after a fresh install (as I didn't fixed my Gem dependencies versions), so I reported it.

[2017-07-19 18:56] jeremy commented on #1327
Fixed by https://github.com/rack/rack/pull/1179 ✌️

[2017-07-21 22:23] casi commented on #1294
Apparently it is necessary to write this gem versions explicitly in the Gemfile and to use a config.ru to configure Rack. Smanezitec's solution with using Ruby 2.3.3 works fine for me:

My Gemfile:
[code]

my config.ru:
[code]

my main.rb:
[code]

[2017-07-22 19:02] metrix78 opened #1328 "adding % to a paramater is not passed to sqlite when using Sinatra and Unicorn"
Adding % symbols to a parameter will not get passed to sqlite under Unicorn and Sinatra 2.0, but work just fine running under rackup.  Percent symbols can also be passed to sqlite if they are stored in a string.  Passing % symbols worked just fine with Sinatra 1.4.7 and Unicorn 5.3.0.

Working example:
[code]

This breaks:
[code]

I have attached a test case tar file for testing.

setup:
untar tes

[2017-07-30 01:28] mike-bailey commented on #1294
Still an issue for me, used the above gemfile pretty much to the T and still didn't go

[2017-07-31 10:25] casi commented on #1294
Ok, so then change the line
[code]
into
[code]
or uninstall json 2.1 if possible, and do a ```bundle install``` again.

[2017-08-01 16:56] sravanthbaratam commented on #1100
ruby app.rb
/usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- active_record (LoadError)
	from /usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from app.rb:3:in `<main>'

[2017-08-08 08:51] Kanshiroron commented on #1327
Hi everybody,
I just tested with the master branch of the Rack project, and it fixes this issue.
However, the change hasn't been deployed to the the rubygem repo (https://rubygems.org/gems/rack/versions @jeremy)

Thanks for your help!

[2017-08-08 08:51] #1327 closed

[2017-08-14 17:46] dometto opened #1332 "ArgumentError with regexp route with optional capture group"
I have the following route definition:
[code]
The regexp allows for an optional capture group. In `sinatra v1.4`, this would work as expected. At present, I am getting an `ArgumentError: wrong number of arguments (given 0, expected 1)`. Backtrace:

[code]

[2017-08-15 00:32] namusyaka commented on #1332
I'm going to take a look at the issue in a few days.

[2017-08-16 05:46] rajsahae opened #1334 "examples/chat.rb doesn't work on Heroku anymore"
I think it once worked, I see in the origin gist (https://gist.github.com/rkh/1476463) heroku working is specifically mentioned.

I based a small project on this and uploaded it to heroku recently and things weren't working. I reverted to the original version and it still doesn't work. When you attempt to submit text, it takes you back to the login page. Any ideas?

Here is a sample app: https://e

[2017-08-16 22:01] jkowens commented on #1334
I think you just need to update this line: https://gist.github.com/rkh/1476463#file-chat-rb-L29

to use the https protocol:

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

Another comment suggested you might need to use jQuery 1.8 specifically due to an API change:

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

[2017-08-17 14:15] olleolleolle opened #1335 "CHANGELOG could have a section on v1.4.8"
Issue: `CHANGELOG.md` does not mention v1.4.8.

## TODO

- [ ] Summarize the changes in this compare view: https://github.com/sinatra/sinatra/compare/v1.4.7...v1.4.8
- [x] Mention release date: January 30, 2017 (source: https://rubygems.org/gems/sinatra/versions/1.4.8)

[2017-08-18 06:10] rajsahae commented on #1334
Yeah, switching to https protocol fixes it.

[2017-08-18 06:10] #1334 closed

[2017-08-19 12:12] olleolleolle commented on #1308
@zzak I made a patch.

[2017-08-20 01:26] #1308 closed

[2017-08-21 14:41] #1310 closed

[2017-08-22 05:12] mike-bailey commented on #1294
Even with both JSONs uninstalled, different combinations, etc this still persists.

[2017-08-26 07:58] zzak opened #1339 "v2.0.1"
Prepare for next patch level release

[2017-08-26 07:58] zzak commented on #1339
Current list of changes [v2.0.0...master](https://github.com/sinatra/sinatra/compare/v2.0.0...master)

[2017-08-26 08:00] zzak commented on #1335
The only real change was fix the deprecation warning from ruby about `Fixnum`, the other commits were fixing the build

[2017-08-26 08:35] olleolleolle commented on #1335
Right, and soothing the anxious user, nervous ops person, or the perennially detail-oriented about this minor fix would be doable. I can PR, if that helps.

[2017-08-26 11:19] #1335 closed

[2017-08-27 00:37] zzak commented on #1335
@olleolleolle Yep, that was my point :)

[2017-09-05 14:02] olleolleolle commented on #1339
Combing the compare list, I find these changes:

- #1322 Bugfix: Repair nested namespaces, by avoiding prefix duplication. Fixes #1310 (@namusyaka)
- _Lots_ of documentation improvements
- #1338 Ship the `VERSION` file with the gem, to allow local unpacking (@olleolleolle)

[2017-09-08 17:11] namusyaka commented on #1339
@olleolleolle Nice work!

[2017-09-09 14:50] olleolleolle commented on #941
@kgrz Can you tick the `hu` checkbox above?

[2017-09-19 01:14] timuckun opened #1348 "How do I specify more fine grained before filters"
I want to do something like this

before POST or PUT when content type is JSON do
    for only put and post
end

before content type is JSON do
   this would apply to all other verbs?
end

I have scoured the documentation and don't see anything. I saw this in one github project but it fails so it must be changed since then.

[code]

[2017-09-19 22:53] zzak opened #1349 "Help Wanted && Good First Issue && Wishlist"
* ["Help Wanted"](https://github.com/sinatra/sinatra/labels/help%20wanted): Anyone willing to pitch in is open to contribute to this ticket as they see fit (will try to add context / summarize or ask for requirements)

* ["Good First Issue"](https://github.com/sinatra/sinatra/labels/good%20first%20issue): Potential first time contributors should start here

* ["Wishlist"](https://github.com/sinatr

[2017-09-25 00:47] jogoodwin commented on #976
Sorry to drag this thread up again, but I got here via a google search on "no _dump_data is defined for class Mutex". The solution I used was to replace

enable :sessions

with

use Rack::Session::Pool

(from http://www.getlaura.com/how-to-enable-sessions-with-sinatra/)

Rack::Session::Pool uses an ID for the object on the client-side cookie, but stores the actual object locally so it doesn't have

[2017-09-25 00:49] jogoodwin commented on #976
Sorry to drag this thread up again, but I got here via a google search on "no _dump_data is defined for class Mutex". The solution I used was to replace

`enable :sessions`

with

`use Rack::Session::Pool`

(from http://www.getlaura.com/how-to-enable-sessions-with-sinatra/)

`Rack::Session::Pool` uses an ID for the object on the client-side cookie, but stores the actual object locally so it doesn'

[2017-09-26 17:20] eguzki opened #1350 "non utf-8 encoding issue with error handlers"
Sinatra 2.0.0

When post request has a json body with non utf-8 encoding characters in keys, Sinatra middleware returns 400 with the following body:

Request body example:
`
{
  "\xf0\x90\x28\xbc": 3
}
`

Our Sinatra app has been configured to enable raise_errors and disable show_exceptions
[code]

We would like to customize error message, so we registered a BadRequest error handler:

[code]

This

[2017-10-02 16:20] jkowens commented on #1350
Can you post a sample app that demonstrates this issue? I'd like to see how you are loading the JSON body into the params.

[2017-10-02 16:56] eguzki commented on #1350
Some steps to reproduce the issue were missing. Fair enough.

1.- Generate POST request body:
[code]
2.- App code without BadRequest error handler registered
[code]
3.- Send request
[code]
4.- App code BadRequest error handler registered
[code]
5.- Send request
[code]

[2017-10-03 21:38] jkowens commented on #1350
Thanks for the additional details. I've submitted a PR that should resolve this issue.

[2017-10-07 17:05] AlessandroMinali commented on #1348
[code]

[2017-10-08 16:34] rohitpaulk commented on #1305
Looks like this was first encountered in https://github.com/sinatra/sinatra/issues/532 (2012!).

I was able to fix it by following the steps in [this StackOverflow answer](https://stackoverflow.com/a/14839059/3189203). However, this ends up rewriting a huge chunk of the repo's history, since the broken SHAs are pretty old.

I also had to convert a bunch of signed tags to unsigned, because of the S

[2017-10-08 20:51] erhard commented on #1015
Is it possible to reopen this issue. If you have the feature of loading a default index.html than it is possible to mix static site generators like Hugo which serves the static parts with the dynamic of a ruby data server. So it is a feature request.

[2017-10-08 23:55] mwpastore commented on #1015
@erhard This is outside the scope of Ruby/Sinatra. Your web server should serve static files and proxy requests for dynamic content to your application server. This is trivial to do in any modern web server such as Nginx, Caddy, etc.

[2017-10-09 00:25] erhard commented on #1015
Yes you are totally right, but why then serving even an index page or the sendfile method ?. Sinatra is so easy building up an infrastructure for a lot of things with one thing namely Sinatra. Sinatra is a swiss knife in my eyes and should have this feature too. But anyway from the strikt point of view you are right. From the pragmatic point of view….
I use the sinatraserver as a test and developm

[2017-10-09 00:52] mwpastore commented on #1015
[code]

Is that insufficient for some reason? What else do you want/need?

[2017-10-11 19:09] daBee opened #1352 "Module Method "Redirect" method not defined"
I've written a module that's loading fine.  As a test, I've set a method to redirect to a parameter url, which I'm using 'http://www.google.ca' as an easy test.  So I expect the method to completely bounce out of the app to google.

    def Mymodule.validate_alpha(bounceURL)
        redirect bounceURL
    end

I am getting an error on this method:

    undefined method `redirect' for Mymodule:Modu

[2017-10-11 19:14] mwpastore commented on #1352
I answered your question in the sinatrarb discussion group. You are defining a module method, not an instance method. You just need to change it to this:

[code]

And it will work fine.

[2017-10-11 19:19] daBee commented on #1352
It still doesn't explain what's going on.  Is the Mymodule simply a namespace for the module?  I'm not disagreeing with you, I'm just trying to get my head around this.

[2017-10-11 19:30] mwpastore commented on #1352
This is not the proper forum to be asking fundamental questions about Ruby. Neither is the discussion group. Sorry if that seems harsh, but it's important to keep project-related communication channels free of non-project-related noise.

Yes, you can think of a module as a namespace for methods. You can also think of it like a mixin. When you use the `helpers` keyword in Sinatra and pass it the na

[2017-10-11 20:50] foxxx0 opened #1353 "not able to specify params placeholder in 2nd nesting level for namespaces"
Hey,

I've noticed a strange behavior in 2.0.0 with nested namespaces, that used to work in 1.4.x.

It seems that using `/:foo` placeholder is only possible up to the first level of nesting for namespace paths.

I have created a minimal example showcasing this issue at: https://github.com/foxxx0/sinatra-2.0-namespace-nesting-issue

which boils down to:

[code]

I was not able to find anything rela

[2017-10-11 22:42] #1352 closed

[2017-10-12 09:03] foxxx0 commented on #1353
I have just dug a little deeper into recent commits to master and closed issues and found:

https://github.com/sinatra/sinatra/pull/1322

which fixes:

https://github.com/sinatra/sinatra/issues/1310

After testing the current sinatra master branch, I can confirm, that my issue is fixed as well.

Sorry for reporting this as a duplicate.

[2017-10-12 09:03] #1353 closed

[2017-10-12 09:06] foxxx0 commented on #1339
The nested namespace fix would be great to have sooner rather than later.
For now I have to use the sinatra master branch in my Gemfile in order to work around that, but I would rather like to specify a fixed sinatra gem version.

So +1 for moving this along and thanks for all your work!

[2017-10-13 14:42] superoo7 opened #1354 "Documentation Page there is an unaccessible link"
On [document page](http://www.sinatrarb.com/documentation.html), there is an unaccessible link with title `RubyConf 08: Lightweight Web Services` in `Screencasts and Presentations` sections.

The unaccessible link is [http://rubyconf2008.confreaks.com/lightweight-web-services.html](http://rubyconf2008.confreaks.com/lightweight-web-services.html)

Please update the docs. Thanks

[2017-10-17 05:49] burningTyger commented on #1354
The slack heroku app is also dead.

[2017-10-18 03:22] kgrz commented on #1354
The confreaks URLs have changed. That talk is now available at: https://confreaks.tv/videos/rubyconf2008-lightweight-web-services

[2017-10-21 01:40] jmyers0022 commented on #1354
Tossed up a PR for these: https://github.com/sinatra/sinatra.github.com/pull/230

[2017-10-26 19:31] danrice92 commented on #940
Hello all, I'm a bit new to open source but I would be interested in taking on this issue!

[2017-10-28 00:41] zzak commented on #940
@danrice92 Hey! That would be great :)

Sorry there isn't much documentation on contributing, let me know if you have any questions!

[2017-10-29 05:18] zzak opened #1357 "Add label guide to CONTRIBUTING.md"
We should add the labels mentioned in #1349 to our docs

[2017-10-30 00:08] CharlyJazz commented on #1357
What part of the documentation?

[2017-10-30 01:23] zzak commented on #1357
It should go in [this file](https://github.com/sinatra/sinatra/blob/master/CONTRIBUTING.md), named `CONTRIBUTING.md`, under tthe section "Looking for something to do?":

https://github.com/sinatra/sinatra/blob/master/CONTRIBUTING.md#looking-for-something-to-do

/cc @CharlyJazz

[2017-10-31 02:02] danrice92 commented on #940
@zzak Happy to help. I submitted a second PR since the last one was closed to add the samples of using `server_settings`.

[2017-11-01 13:33] szabcsee commented on #1294
This issue still persist and Sinatra 2.0 can not be used with data_mapper, am I right?

[2017-11-02 09:57] zzak commented on #1294
I'm not sure this is even an issue, or how Sinatra would be at fault.

We don't even specify json as a dependency:
https://github.com/sinatra/sinatra/blob/master/sinatra.gemspec#L28-L31

It must be caused through some transitive dependency that is apart of your application.

If anyone can provide a `Gemfile.lock` which reproduces the issue, and stacktrace to go with it, we could probably figure ou

[2017-11-02 10:55] singram commented on #1118
Thanks!  That did the trick for me as well (`$stdout.sync = true`).  Would be useful to have in the documentation somewhere for others.

[2017-11-02 14:53] mike-bailey commented on #1294
https://github.com/sinatra/sinatra/issues/1294#issuecomment-313166451

[2017-11-03 01:06] zzak commented on #1294
@mike-bailey could you share your lockfile?

[2017-11-03 01:11] mike-bailey commented on #1294
Given this is like a season old I don't still have the project around in that state, but my gemfile at the time was what was linked.

[2017-11-07 04:37] zzak commented on #1354
The slack app should be fixed: https://sinatra-slack.herokuapp.com/

[2017-11-07 08:13] lvonk opened #1361 "Nested namespace with optional url parts do not work in sinatra => 2.0"
Hi,

I have the following app (which worked in sinatra < 2.0):

[code]

When I call `/foo/2018/2/nested/1` all works as expected. When I call `/foo/2018/nested/1` it results in a

[code]

Duplicating the outer namespace "resolves" the issue:

[code]

Full test case can be found here: https://github.com/lvonk/sinatra-namespaces-issue

[2017-11-09 05:14] sinclairtarget opened #1362 "Why are route parameters encoded as "ASCII-8BIT"?"
Using Ruby 2.4.1 and Sinatra 2.0.0.

Using the following `get` invocation:
[code]

Making a GET request to `/entries/foo` will log the encoding as `ASCII-8BIT`.

Why is the encoding not UTF-8? This plays havoc with sqlite3 at the very least, which [interprets `ASCII-8BIT` strings as `BLOB` data](https://github.com/sparklemotion/sqlite3-ruby/issues/45#issuecomment-1895378) instead of string data.

[2017-11-09 19:52] burningTyger commented on #1362
I was having the same problem with tons of errors. I just enforced utf-8 on everything that comes via params. Works perfectly yet looks a bit awkward.

[2017-11-10 11:00] lvonk commented on #1361
So I dug a little deeper but have a hard time pinpointing the issue. I did find another unexpected behavior that might be related:

[code]

If you call this with `/foo/2016/nested/1` it will ouput

[code]

I don't think this is correct, I expect a parameter in a single call to remain the same.

[2017-11-10 11:10] lvonk commented on #1361
Another update: So when I remove the generating of the `:before` block from https://github.com/sinatra/sinatra/blob/master/sinatra-contrib/lib/sinatra/namespace.rb#L232 the test case passes.

[2017-11-10 14:38] lvonk commented on #1362
@burningTyger how did you enforce this encoding? Is there a setting for this?

[2017-11-10 14:41] lvonk opened #1363 "Unexpected param parsing with optional url parameters"
While investigating https://github.com/sinatra/sinatra/issues/1361 I found the following which I think is a separate issue. Since this issue also occurs in Sinatra 1.4.8 I don't know if this is by design or not, but imho it leads to unexpected behaviour.

I think it boils down to the fact that Sinatra should let the most specific route match do the parameter parsing and use those parsed values for

[2017-11-10 14:46] sinclairtarget commented on #1362
@lvonk "hello".force_encoding("utf-8")

That won't change the actual bytes of the string, just how ruby interprets them.

[2017-11-10 16:19] lvonk commented on #1362
@sinclairtarget Thanks, I was kind of hoping that there was a single setting in sinatra that would apply to all params.

[2017-11-11 04:42] sinclairtarget commented on #1362
@lvonk You could always just stick something like the following in front of Sinatra in your middleware stack:

[code]

[2017-11-11 18:17] namusyaka commented on #1361
Definitely bug, but it's not Sinatra issue, but Mustermann issue.
The essence of your issue is in Mustermann::Concat, the meaning of the following two expressions is different.
[code]

[2017-11-11 18:30] namusyaka commented on #1363
First of all, you should use `(/:bar)?` as a optional parameter instead of `:bar/?`.
The captured name depends on the context. Therefore, I think the behavior is not a bug.

[2017-11-12 07:40] namusyaka commented on #1361
So I'm going to fix the issue as a mustermann's problem.

[2017-11-12 10:32] namusyaka commented on #1361
@lvonk Could you confirm my changes?

The problem can be resolved in my locally.
[code]
You can specify my branch in your Gemfile, it would be something like:
[code]

[2017-11-12 10:41] namusyaka commented on #1332
@dometto Ping? I've tried to reproduce your issue, but cannot be reproduced in my locally.

[2017-11-12 12:33] lvonk commented on #1363
Hi @namusyaka thanks for replying. The optional parameter is `baz` in the example, not `bar`. `'/foo/:bar/?:baz?'` (my apologies for the confusing names in the example). Both ways of defining an optional parameter seem to work the same `/?:baz?` versus `(/?:baz)?`. Changing to `(/?:baz)?` does not result in a different outcome.

I would argue the context is the most specific route. In fact that is

[2017-11-12 12:36] lvonk commented on #1361
Thanks @namusyaka ! I can confirm the testcase now works in my example.

[2017-11-12 13:05] namusyaka commented on #1363
Sorry for your confusing. I wanted to say that the optional parameter should be `(/:foo)?`, please see [mustermann's readme](https://github.com/sinatra/mustermann/blob/master/mustermann/README.md).

Actually the patterns in the route and the filter are not necessarily closely related.
[This behavior](https://github.com/sinatra/sinatra/blob/ba935c9d885ee811f5e8d12356fce4ad91545cbe/test/filter_test.

[2017-11-12 14:02] frankymad commented on #1294
@zzak
[https://github.com/frankymad/sinatra-datamapper-sample/blob/master/lockfile](url)

[2017-11-12 14:08] lvonk commented on #1363
This behavior is established.

Hmm okay. I did not consider that. It still feels strange though to have a param's value differ in a filter and route in a single request...

Well anyway if this is the way it should work, than indeed it is not a bug. Thanks for taking the time to look into this! Feel free to close this issue if you consider it handled.

[2017-11-12 14:58] namusyaka commented on #1363
I think this is not a bug, but I'd like to keep this issue for discussing the API-design.
@lvonk Thanks for your report.

cc @zzak

[2017-11-13 09:11] gudmundur commented on #1339
@zzak We've been bumping into the namespace issue recently. Any idea on when this'll go out? Cheers.

[2017-11-14 04:48] zzak commented on #1339
I'll either cut it this week or next (during thanksgiving break)

[2017-11-14 22:45] zerowaitstate opened #1364 "Project website is down"
Looks like http://www.sinatrarb.com is down.  Getting infinite 302 redirects.  It sort of looks like the domain is in a parked status (port 80 pointed at secureserver.net), but I can't tell from the WHOIS.

[2017-11-15 01:48] J-Vaughan commented on #1364
Still experiencing redirects.

[2017-11-15 01:52] namusyaka commented on #1364
cc @bmizerany @zzak

[2017-11-15 02:41] bmizerany commented on #1364
Fixed!!! The domain is register for another 9 years. :)
On Tue, Nov 14, 2017 at 5:53 PM namusyaka <notifications@github.com> wrote:

[2017-11-15 05:06] #1364 closed

[2017-11-15 05:06] zzak commented on #1364
Should be fixed now, but DNS resolves always take a little time

Let us know if this persists after a couple days

[2017-11-16 02:46] Temikus commented on #1049
Seems like this is reoccurring @bmizerany
Probably due to the CNAME

[code]

[2017-11-16 17:03] jots commented on #1364
it's still down.
[code]
I tried with both those IPs in my /etc/hosts and still website not answering.
What IP is it supposed to be?

[2017-11-16 22:38] fullofcaffeine opened #1365 "Documentation site is down"
At the time of this writing, trying to access the docs but can't, seems there's an infinite redirect loop:

http://www.sinatrarb.com/documentation.html

[2017-11-17 09:39] Hobinx commented on #1365
I have the same problem here, there's an infinite redirect loop between http://www.sinatrarb.com/ and http://sinatra.github.io

[2017-11-17 14:51] GrantJamesPowell commented on #1365
Is there a workaround or offline docs available?

[2017-11-17 15:16] kgrz commented on #1365
I’ll push something in a bit.

[2017-11-17 16:48] mathemagik commented on #1365
@GrantJamesPowell — https://github.com/sinatra/sinatra.github.com :-)

[2017-11-18 02:08] kgrz commented on #1365
And a temporary mirror at http://sinatra.wtf

[2017-11-18 22:33] ckuttruff commented on #1365
@kgrz thanks for being on top of things; so appreciate sinatra and yall's work.

[2017-11-20 18:28] zzak commented on #1365
Aaaaand we're back! http://sinatrarb.com/

[2017-11-20 18:28] #1365 closed

[2017-11-23 11:33] heavydawson opened #1367 "Undefined method 'downcase' for nil:NilClass when Sinatra under high load"
While load testing my Sinatra application with JMeter, I found an issue whereby hitting the exact same URL over and over would cause the following error to appear in small percentage of requests. The URL being touched didn't change between requests and > 99% of requests succeed without issue:

[code]
My Sinatra instance is configured to use Thin as the backing HTTP server
It was only under load th

[2017-11-23 17:24] jkowens commented on #1367
I suspect this would be a Thin issue. Can add the Rack::Lint middleware to your Sinatra app and run the test again? I think that will help us confirm if the Rack environment variable is set before Sinatra being processing the route.

[2017-11-23 18:16] heavydawson commented on #1367
Here you go:

[code]

[2017-11-23 19:07] jkowens commented on #1367
The Rack spec requires that request header to be set. I think it’s safe to say that this is probably a Thin issue.

[2017-11-23 19:32] heavydawson commented on #1367
Opened a corresponding issue in Thin, so will close this out.

[2017-11-23 19:32] #1367 closed

[2017-11-24 05:27] gartha1 opened #1368 "question about .html.haml vs .haml"
I see that with sinatra, doing  haml :index   it looks for views/index.haml    I know a guy that used sinatra once and thought it was index.html.haml  Has sinatra changed like was it ever index.html.haml?

thanks

[2017-11-24 06:00] kgrz commented on #1368
As far as I can tell, mapping `haml :index` to `views/index.html.haml` hasn't been the case for a long time. Are you sure the other person didn't use some plugin that augmented the template lookup functionality to be similar to Rails? Or may be [overwriting the default](https://github.com/sinatra/sinatra/blob/ba935c9d885ee811f5e8d12356fce4ad91545cbe/README.md#looking-up-template-files) [template l

[2017-11-24 06:48] gartha1 commented on #1368
Could be.  I notice that http://haml.info/tutorial.html   mentions a .html.haml file  as does http://haml.info/docs/yardoc/file.REFERENCE.html#using_haml      I guess it's a default or common setting in rails for when haml is used within rails and maybe they confused rails with sinatra there.

[2017-11-24 18:33] #1368 closed

[2017-11-25 20:00] elisaado commented on #1294
@zzak, thank you for wanting to help, my lockfile: https://hastebin.com/raw/otihuqujib (hastebin because it's pretty long)

[2017-11-29 23:31] #1357 closed

[2017-11-30 15:22] ibnesayeed commented on #1261
Many services that work on URIs as their primary means of lookup (such as web archives, URL shorteners, proxies, page scrapers etc.) would prefer to pass URLs as the last part of their path rather than in a query parameter. There are both good and bad things about such an approach, but it is being used commonly. This reminds me of https://github.com/mholt/caddy/issues/1298#issuecomment-269106412 d

[2017-11-30 16:17] ibnesayeed opened #1369 "Change default host to 0.0.0.0 in development mode"
We might want to revisit #634 to revert that decision as it is coming in the way. While I agree that "Software should be secure by default", but I am not sure how much I would buy the argument of protecting my development application from being accessed by someone in a "Coffee Shop".

In contrast, in a pair coding session, I would much prefer my colleagues in the same network (perhaps on the coffe

[2017-11-30 16:38] jkowens commented on #1369
I agree the documentation for command line option could be improved. The documentation for the `:bind` setting explains that the default is `localhost` for development and `0.0.0.0` for all other environments.

http://sinatrarb.com/configuration.html#bind---server-hostname-or-ip-address

[2017-11-30 17:27] ibnesayeed commented on #1369
Yes, I saw the `:bind` documentation later, but by that time I already got enough surprises and wasted quite some time in figuring out why it won't work for me. Since, `:bind` is a config option that would require code change, which may not be desired when someone is using a script that would otherwise work. For me, `-o` flag was a better option which I can supply when running inside a container,

[2017-11-30 19:17] #1349 closed

[2017-12-01 18:19] hgregorian commented on #1332
I've encountered a similar issue using Sinatra 1.4.8 using a regex route:

[code]

Stacktrace:
[code]

[2017-12-01 19:27] hgregorian commented on #1332
Resolved my issue by ensuring that the route regex capture group is non-capturing:

Working:
[code]

Non-working:
[code]

[2017-12-08 08:24] gudmundur commented on #1339
@zzak nudge nudge. :)

[2017-12-09 22:11] CharlyJazz commented on #1249
I am currently working on the Spanish translation. :construction_worker_man:

[2017-12-18 05:50] codenoid commented on #1369
here https://github.com/sinatra/sinatra/blob/b4aaf1c43aa87936846a863a51beac6fe27892f6/lib/sinatra/base.rb#L1803

[2017-12-18 05:57] codenoid commented on #1369
we have `set :bind, '0.0.0.0'` too

[2017-12-18 06:12] ibnesayeed commented on #1369
I was not talking about the number of ways it can be achieved, but suggesting that the default out of the box experience can be improved.

[2017-12-19 09:51] elisaado opened #1374 "undefined method `stop' for nil:NilClass when running example code (and other code as well)"
Hi,
When I tried running my code, it failed with this error:
[code]
The same error occurs when I run the example code. The sinatra gem and all it's dependencies are installed.

General info:
OS: Arch linux
Ruby version: `ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-linux]`

[2017-12-19 10:00] elisaado commented on #1374
I also tried re-installing sinatra and all it's dependencies.

[2017-12-19 10:06] rennex commented on #1374
That error comes from somewhere in Puma. Have you tried if Webrick or Thin runs it any better?

And I'm not sure what example code you mean. Does the following minimal Sinatra app work on your machine?

    require "sinatra"
    get "/" do
      "Hello, world!"
    end

[2017-12-19 10:06] elisaado commented on #1374
Fixed... `sudo killall ruby`, I had another puma server running on that port without knowing.

[2017-12-19 10:06] #1374 closed

[2017-12-19 12:22] elisaado commented on #1374
Hi @rennex,
Yup, I meant that code.

[2017-12-22 19:15] peterwdj commented on #1294
I've also been having this exact issue! Has anyone yet found a resolution?

[2018-01-02 16:47] jkowens opened #1376 "NoMethodError bad_request? when Rack app mounted along with Sinatra"
Sinatra is currently setting the value for constant `Rack::ShowExceptions::TEMPLATE` with the value `Sinatra::ShowExceptions::TEMPLATE`. The problem is that the new template references a method that only exists in `Sinatra::ShowExceptions`. When other Rack based apps like Grape are used alongside Sinatra an error is raised when attempting to display the error page.

lib/sinatra/show_exceptions.rb

[2018-01-03 06:39] zzak commented on #1376
@jkowens Thank you for finding this!

I agree, and this should be considered a regression we should fix in 2.0.1 /cc #1339

[2018-01-05 01:15] jkowens commented on #1376
I've sent up PR rack/rack/pull/1223. Hopefully if things work out this will be an easy fix on the Sinatra side.

[2018-01-05 01:24] jkowens commented on #1376
In the meantime, I think overriding the `pretty` method is the best option.

[2018-01-08 10:12] marcusmichaely opened #1378 "Post request containing % breaks Rack::Test"
Here is a minimal example to reproduce bug. It doesnt matter if the % sign is part of a bigger payload or a single sign:

[code]

[2018-01-08 16:27] rdalverny commented on #1378
It's triggered by [URI.decode_www_form_component](https://github.com/ruby/ruby/blob/66c3355ab17dd99c2bd2b751db0c20fc1fda5eee/lib/uri/common.rb#L392:L395), through Rack::Utils.unescape, [Rack::QueryParser#parse_nested_query](https://github.com/rack/rack/blob/2e92a25342b5d51f4094366c3b8dd797cbd208a4/lib/rack/query_parser.rb#L60:L73):

if your payloads contains a %, the parser validates for a [valid

[2018-01-15 14:52] namusyaka commented on #1339
#1333

[2018-01-17 22:17] daBee opened #1380 "params Hash Contains Persistent 'captures' Key"
I'm finding with `Sinatra 2.0.0` that a form submission has `params` that contain an obscure key/value pair with the key being `captures`, value being `[]`.  I am trying to take this out in a method using:

    incoming.delete('captures')

This doesn't work.  I continue to get values from the params hash, and is giving me an error:

    App 30407 stderr: 2018-01-17 17:09:15 - NoMethodError - undef

[2018-01-18 00:02] mwpastore commented on #1380
I think we need to see more of your code, and more of the stack trace of the error you're seeing in your logs.

[2018-01-18 03:14] daBee commented on #1380
Upon restarting nginx, loading up my landing page, I have a generic params display in my `layout.erb`.

    <strong><%= params.size %> Params</strong> <%= params.inspect %><br>

It resolves, upon no submission at all:

    1 Params {"captures"=>[]}

I have not implemented anything close to a parameter on the top landing page `GET` and the params show this in there.  I can't get rid of it.  Here is

[2018-01-18 03:27] mwpastore commented on #1380
Yes, Sinatra puts captures and splat into the params hash. Starting with Sinatra 2.0, Mustermann's captures are always put into the params hash (I think). So you should work around it.

Something like this should do the trick:

[code]

If that doesn't work, we need to see more of your Ruby code, and/or more of the Ruby stack trace of the error you're seeing in your logs.

[2018-01-18 03:32] daBee commented on #1380
OK, just tested the same using `Sinatra 2.0.0` and that pair is not in the params.  So something else is fishy here.  So my current question is: Is this supposed to be there?  I've never seen this before.

[2018-01-18 03:41] daBee commented on #1380
I cleaned up the params as you demonstrated (just to have some fun in my life), and cleaned up the params upon a get/post method.  Thanks for the notes.  That would have had me twirling for days.

[2018-01-18 03:41] #1380 closed

[2018-01-25 23:23] troex opened #1381 "sinatra-reloader fails to reload controller with streaming wrapper"
I have a wrapper method to stream requests like this https://gist.github.com/troex/31790323fb4a8a29c8b8cd84e50ad1e8

the reload works in the sample '/test_stream' method, but if I create another class and inherit it from `MyController` it will not reload any `stream` methods while regular get/post methods reload without issue.

Any ideas if I'm doing something wrong or it's a bug?

[2018-01-31 04:38] maxiedaniels opened #1383 "When using Sequel gem, information isn't being updated"
I'm using Sinatra with Sequel, and my pages with database queries aren't updating. Example code:

[code]

The first time I load the page, it will show the latest item in the database's creation time (items are created by a separate script every minute). However, I'll wait a few minutes and refresh the page, and the time is stuck at that initial time. The only way to get the page to actually get th

[2018-01-31 10:47] VMashanov commented on #1383
Are you sure that the problem is not in your model?

[2018-01-31 12:29] burningTyger commented on #1383
This shoulb better be posted on StackOverflow. Doesn't seem to be a Sinatra issue. My guess is that your separate script is not working as expected. Try outputting the model to the console too (i.e. ` p testing.last`  and see if your route returns a cached page.
Apart from that you can get the last Model via Sequel too. You can let your database do the sorting, no need for a map :)

[2018-01-31 16:35] maxiedaniels commented on #1383
Just verified that this is not a Sinatra problem, my bad. I thought the issue wasn't occurring with non-Sinatra scripts, but it turns out if I run a infinite loop and `puts` that same parameter every 30 seconds, it stays stuck on the first 'version' of that data.

[2018-01-31 16:35] #1383 closed

[2018-01-31 16:39] burningTyger commented on #1383
👍

[2018-01-31 19:46] daBee opened #1384 "error.log reporting non-errors"
Not clear as to `sinatra` or `nginx`.  My error.log is reporting non-errors.

    App 67842 stdout:
    App 67913 stdout:
    App 67842 stderr: 127.0.0.1 - - [31/Jan/2018:14:40:46 -0500] "GET /faq HTTP/1.1" 200 10201 0.0241

First two items are indeed blank.  I'm assuming this is from `sinatra`.  These result in a refresh of a page that has no errors.  Not sure what else to say on this one.

[2018-02-04 15:06] jkowens commented on #1378
Can we close this issue?

[2018-02-05 09:29] jreinert commented on #1378
I think the issue is rather, that there is an inconsistency between Rack::Test and normal execution. Running the example above one can curl the route with `--data-binary ''%'` and it processes without errors. Also I don't see the point in using the query parser at all with request bodies that aren't `application/www-form-urlencoded`.

[2018-02-05 16:18] rdalverny commented on #1378
@jreinert good point, I had not seen it that way.

If you specify the content type to skip this parser, it works:

[code]

But, from my tests, curl defaults to sending `application/x-www-form-urlencoded` (and so does Rack::Test):

[code]
Removing the content type sent (`$ curl -v -XPOST -d '%' -H'Content-Type:' localhost:4567/foo/bar/`) produces the same result (error 400, and verifying, that mean

[2018-02-06 00:25] benatkin commented on #1369
create-react-app binds to 0.0.0.0 by default, in development mode, and I think that's a mistake. I was curious what others thought and I find that the opinions expressed in #634 match mine. It should be documented somewhere easy to find how to bind to 0.0.0.0 in development mode but I very strongly think binding to localhost should be the default. Besides, [some browser features are only available

[2018-02-06 01:31] ibnesayeed commented on #1369
As per my understanding this has nothing to do with `0.0.0.0` vs. 'localhost' or '127.0.0.1'. A  service listening on `0.0.0.0` can happily be accessed from `localhost`. In fact `0.0.0.0` is not a resolvable interface, so it is not used when interacting with the service.

As far as the secure-by-default argument is concerned, I don't oppose that, but putting unnecessary hyper-security in every pla

[2018-02-06 01:38] namusyaka commented on #1384
I believe this isn't a problem of sinatra.
If it's in doubt, you should provide a minimal repository for reproduction.

[2018-02-06 02:19] namusyaka commented on #1339
I have created a v2.0.1 milestone and marked some issues.
I'll complete those issues and plan to cut the next release this week and next week.

[2018-02-06 15:23] #1376 closed

[2018-02-06 15:26] #1332 closed

[2018-02-06 15:29] olleolleolle commented on #1350
@namusyaka Can we put this one in 2.0.1, like #1351?

[2018-02-06 15:33] namusyaka commented on #1350
@olleolleolle Yeah, I'm going to merge the patch into v2.0.1, but it's the core part so I'm planning to review the PR carefully.

[2018-02-06 15:39] namusyaka commented on #1354
This should be fixed now, I think. Closed.

[2018-02-06 15:39] #1354 closed

[2018-02-06 17:35] #1350 closed

[2018-02-08 09:15] WindProphet commented on #1050
[code]

This way, choose `thin` as a backend and set bind server to socket path.

[2018-02-13 14:30] namusyaka commented on #1361
I have just released mustermann-1.0.2.rc1.
@lvonk Could you check it out?
I'm going to close the issue after releasing mustermann-1.0.2.

[2018-02-15 00:14] namusyaka commented on #1361
Sorry, the mustermann-1.0.2.rc1 is not correct. I re-released mustermann-1.0.2.rc2.

[2018-02-15 10:32] alexedwards opened #1388 "Before filter adds empty captures to params"
Using a before filter with no pattern adds an empty `captures` attribute to `params`. This is unexpected behaviour when your application doesn't contain any regexp patterns with captures, and can cause problems for applications which are mapping `params` directly to another object.

A minimal case:

[code]

[code]
 I suspect this might also be the cause of issue https://github.com/sinatra/sinatra/

[2018-02-16 15:25] namusyaka commented on #1361
Closing. [mustermann-1.0.2](https://rubygems.org/gems/mustermann) is out.
Let me know if you still have any issues.

[2018-02-16 15:25] #1361 closed

[2018-02-17 17:31] namusyaka commented on #1339
Closing. v2.0.1 has been released.

Check it out:
https://rubygems.org/gems/sinatra
https://rubygems.org/gems/sinatra-contrib
https://rubygems.org/gems/rack-protection

Thank you all for your contribution!

[2018-02-17 17:31] #1339 closed

[2018-02-19 15:19] lvonk commented on #1361
I can confirm this works in `1.0.2`

[2018-02-19 15:21] namusyaka commented on #1361
@lvonk Thank you ❤️

[2018-02-20 04:39] jkowens commented on #1288
The issue stems from rdoc and the fix is to update the rdoc gem:
[code]
This is a duplicate of  https://github.com/sinatra/sinatra/issues/1089.

cc: @namusyaka

[2018-02-20 11:43] namusyaka commented on #1288
Makes sense. Closing, let us know if you still have any issues.
@jkowens Thanks!

[2018-02-20 11:43] #1288 closed

[2018-02-20 12:47] nbulaj commented on #1249
Check out #1393 with up-to-date RU translation.

[2018-02-20 19:28] iguchi1124 opened #1397 "status code 205 allows response body?"
I referenced this commits https://github.com/rack/rack/commit/bcf2698bcc90f346b145538e53d0d61bcceb2e48

Currently, sinatra drops response body when status code is 205. but, I think it should be able to choice (b).

indicate a zero-length payload for the response by including a
Transfer-Encoding header field with a value of chunked and a message
body consisting of a single chunk of zero-length

Old

[2018-02-21 07:19] iguchi1124 commented on #1397
I'll make pull request regarding to this issue

[2018-02-21 14:29] #1388 closed

[2018-02-21 14:31] namusyaka commented on #1388
@alexedwards Hey, @iguchi1124's patch has been merged into master. If possible, could you confirm thing which has been resolved?
Please let me know if you still have any issues. Thanks for your report!

[2018-02-21 14:32] namusyaka commented on #1388
Additional notes:

You can confirm the patch by adding the following line into Gemfile.
Check it out:

[code]

[2018-02-21 14:37] namusyaka commented on #1397
@iguchi1124 Thanks.
Your proposal looks reasonable. Go ahead.

[2018-02-21 16:33] #1397 closed

[2018-02-22 08:38] alexedwards commented on #1388
Great, that's sorted it out. Thanks for the speedy fix :+1:

[2018-02-22 10:06] iguchi1124 opened #1403 "expires method overwriting Cache-Control max-age"
I have a question about `expires` method.
I am reading https://tools.ietf.org/html/rfc7234#section-5.3,

   directive (Section 5.2.2.8), a recipient MUST ignore the Expires
   field.  Likewise, if a response includes the s-maxage directive
   (Section 5.2.2.9), a shared cache recipient MUST ignore the Expires
   field.  In both these cases, the value in Expires is only intended
   for recipients t

[2018-02-22 10:24] namusyaka commented on #1403
@iguchi1124 No. You should work on this after the issue becomes more clearer.
At first, we need to discuss the issue.

[2018-02-22 10:31] iguchi1124 commented on #1403
@namusyaka Ah, it meant that I want to work for next patch version things, to stop overwriting Cache-Control header `max-age` forcibly. Isn't it bugs?

[2018-02-22 10:55] namusyaka commented on #1403
The behavior has existed for nine years, and then it looks like intentional. Even if the behavior is not valid, we cannot fix it as patch-level release. Maybe minor version release. Thoughts?

[2018-02-22 11:11] iguchi1124 commented on #1403
I checked RFC2616 which is referenced by implementer probably,

https://tools.ietf.org/html/rfc2616#section-14.21

      age directive (see section 14.9.3), that directive overrides the
      Expires field.

I think forcibly overwriting is not intentional.

For example, `Expires` specified time and `max-age` duration are able to indicates not equal expires time by network latency.

[2018-02-22 12:19] namusyaka commented on #1403
What would you do if you are to tackle this problem?
Could you show me the simple patch?

[2018-02-22 16:55] namusyaka commented on #1403
This issue has two problems.
I think you know about those. Could you separate your issues?

[2018-02-28 05:08] #1165 closed

[2018-02-28 19:41] raphaeltelatim commented on #1249
@burningTyger Do you still need pt-BR translation for 2.0 README?

[2018-03-01 19:36] burningTyger commented on #1249
@raphaeltelatim Sorry, my Portuguese is not good enough to tell if it's up to date :) But if it needs new docs we're happy to merge them! Thank you for your efforts.

[2018-03-01 19:40] namusyaka opened #1407 "v2.0.2 planning"
We're currently planning on issues to incorporate into v2.0.2 milestones.
I have already marked some problems as v2.0.2, but if you have any problems you would like to address elsewhere, please propose here.
I am planning to confirm them and support them so that they can run smoothly.

see also: https://github.com/sinatra/sinatra/milestone/21

Thanks

[2018-03-03 19:42] Merovex commented on #1015
I know this is closed, but for anyone who might follow, I found an approach that works by avoiding Sinatra:

#Gemfile
`gem 'rack-contrib'`

#config.ru
[code]

[2018-03-06 13:10] namusyaka commented on #1213
Looks reasonable.

[2018-03-08 01:45] CodingAnarchy opened #1408 "Security Vulnerability in sinatra/rack-protection?"
<img width="712" alt="screenshot 2018-03-07 20 41 14" src="https://user-images.githubusercontent.com/5926159/37128397-005f5e0c-2248-11e8-9518-2fec4794501a.png">

I'm getting this warning from Github starting today, and I've tried updating but it appears that I can't solve this without going to Sinatra 2.0, which I can't do without going to Rails 5 in the main app.  As that's a major upgrade, I wan

[2018-03-08 15:59] ncancelliere commented on #1408
@zzak but isn't it saying that there is a known security vulnerability in 1.5.5? According to the CVE you have to be 2.0.0 or better (https://nvd.nist.gov/vuln/detail/CVE-2018-1000119). I am in the same boat where I can't just jump to 2.0 as we're still on Rails 4.

[2018-03-08 16:02] namusyaka commented on #1408
@ncancelliere Nope, CVE-2018-1000119 has been fixed in rack-protection v1.5.5.
The CVE should be updated.
@kseifriedredhat Could you update the report about v1.5.5?

[2018-03-08 16:04] ncancelliere commented on #1408
Awesome! That's a relief, thank you for the clarification! 👍

[2018-03-08 17:44] kseifriedredhat commented on #1408
submitted an update to cve database.

[2018-03-08 19:26] scalp42 opened #1409 "Sinatra::Namespace breaks route with named parameters ?"
Hi folks,

Running into an issue upgrading to Sinatra 2.

This route works fine without `Sinatra::Namespace`:

[code]

[code]

If I try to namespace the same route with `Sinatra::Namespace`:

[code]

It won't start:

[code]

Here is the full trace: https://gist.github.com/scalp42/e627e470c6169e3f4be380cea327b697

Any ideas? 🤔

Thanks in advance for the help!

[2018-03-09 02:28] namusyaka commented on #1409
It's almost certainly a bug. I'll investigate this problem soon.
Thank you for the report.

[2018-03-09 18:30] scalp42 commented on #1409
No worries, thanks for looking into it! 🥇

[2018-03-10 16:34] namusyaka commented on #1409
This is not sinatra issue, but mustermann issue.
The cause of this issue is to not process `WithLookAhead` node in `Mustermann::Sinatra::SafeRenderer`.
I sent [a PR](https://github.com/sinatra/mustermann/pull/86) for fixing the issue.

@scalp42 Could you confirm it? Maybe the following code can be used.

[code]

[2018-03-11 07:07] kou-sy commented on #1100
I solved this problem.
"gem install sinatra-contrib"

[2018-03-11 16:19] namusyaka commented on #1408
@CodingAnarchy Can this be closed?

[2018-03-11 18:24] CodingAnarchy commented on #1408
The Github error message still reports a need for `> 2.0.0`, but I think that's just a delay from the updates.  I'll go ahead and close this for now.

[2018-03-11 18:24] #1408 closed

[2018-03-12 18:39] kseifriedredhat commented on #1408
Yup. The CVE goes to the MITRE database, NVD then pulls the updated data and processes it (that process is opaque to me), and then GitHUB pulls the NVD data (that process is opaque to me). So I have no idea how long this will take. Sorry.

[2018-03-12 23:42] #1409 closed

[2018-03-12 23:46] namusyaka commented on #1409
@scalp42 Thanks! This bug could be fixed at the next mustermann release. https://github.com/sinatra/mustermann/issues/87

[2018-03-16 05:04] snuggs commented on #1107
[I've left ample examples and (spec) references from around the web](https://github.com/fastlane/ci/issues/15#issuecomment-373597905) to give some background on why (to @zzak's point) `/foo` & `/foo/` **ARE** indeed two different urls (and resources for that matter).

That's actually an anti-pattern. One of those [That's just the way we've always done things around here](https://user-images.github

[2018-04-01 22:35] #1362 closed

[2018-04-03 18:32] stefansedich opened #1414 "Around filter"
How does one achieve an `around` filter, I need to add some correlated logging info to an ambient log context that requires wrapping a block around the request.

I could use some Rack middle-ware but I really want to be able to re-use some existing Sinatra helpers to get at the data I need, is there a way or am I out of luck?

[2018-04-03 19:25] stefansedich commented on #1414
My current hack involves monkey patching `dispatch!` on Sinatra::Base which appears to work but makes me sad inside, is there a hook I am missing somewhere?

[2018-04-06 09:19] arnoldmarunda opened #1415 "GET routes not being matched in a production environment"
I have a Sinatra+Thin app that is not matching routes in a production environment on AWS EC2(Ubuntu) + Apache2 and giving a 'not found/404' error. But the same app in a development environment on MacOS without Apache2 all routes are matched. There are no custom route matchers in use.

**config.ru**

[code]

**app.rb**
[code]

[2018-04-06 14:36] #1415 closed

[2018-04-08 10:46] namusyaka commented on #1280
@raldred Sorry for the late reply.
For investigation of this problem, I need a minimal repository for reproduction (with Gemfile.lock).

[2018-04-08 10:49] namusyaka commented on #1414
Can you use `before` and `after` filters?
Also consider using sinatra extension mechanism instead of rack-middleware.
See http://sinatrarb.com/extensions.html

[2018-04-08 11:03] namusyaka commented on #1348
@timuckun Sorry for the late reply.
@AlessandroMinali's comment might be helpful, also I put a tip about route condition feature, it would be something like:

[code]

[2018-04-08 11:03] #1348 closed

[2018-04-13 15:51] jdblack opened #1416 "Sinatra 2.0 NameError: uninitialized constant Rack::File::Iterator"
I am getting an error with sinatra 2.0.1  (and 2.0.0) and  rack 2.0.4  for a missing constant Rack::File::Iterator.     I'm not sure what to do with this, as  sinatra

Versions:

Sinatra Version:  2.0.1
Ruby version being used:  2.3.1p112

[code]

[code]

[2018-04-13 16:07] nickpelone opened #1417 "Inconsistency in setting params from optional route captures between 1.4 and 2.0"
I'm wary to call this a bug just yet, but I wanted to bring this up since I'm noticing a different behavior. This kinda intersects with third-party Rack middleware in [`rack-contrib`](https://github.com/rack/rack-contrib) but I'm hoping this is relevant here.

In Sinatra 1.4, it looks like when the requested route has optional parameters in it, the parsed value is added to `params` [when the value

[2018-04-13 17:07] jdblack commented on #1416
I finally found the problem.

The problem occurs when  the  ubuntu package  "ruby-rack" is installed on ubuntu 16.04 systems.   It installs an older version of rack (1.6.4, I think?) that somehow  breaks  rack 2.0.4

[2018-04-13 17:07] #1416 closed

[2018-04-15 12:00] namusyaka commented on #1417
@nickpelone Thank you for your polite report.
Looks like a bug.
I don't see any reason that breaks the compatibility between 1.4.x and 2.0.x.
I'm going to try to fix the issue soon.

[2018-04-21 10:42] namusyaka commented on #1417
@nickpelone could you take a look at #1418 ?

[2018-04-21 21:29] nickpelone commented on #1417
Hey! Apologies, wasn't sure that needed direct review by me. I've been using the code from that fix branch internally in development over the past week, and my API is back to responding as expected. I'm not at my desk to do a final 100% confirmed OK, but I'll be sure to chime in again before the end of tomorrow. Thanks!!

[2018-04-26 10:54] owyongsk opened #1423 "Sinatra::IndifferentHash after calling symbolize_keys! is still using strings as keys"
Seems like `symbolize_keys!` is a method from its parent class `Hash`, maybe we should raise an error when symbolize_keys! is called? This is unexpected behavior in my opinion.

Important to note that the underlying storage must still be strings based on https://github.com/rails/rails/issues/14643 and Matz opinion at https://bugs.ruby-lang.org/issues/9731

[2018-04-26 14:08] nickpelone commented on #1417
I left a 👍  over there, it looked good to me. (And sorry if you already know - I forget how GitHub notifications work sometimes)

Thanks for taking care of this!

[2018-04-27 17:26] iguchi1124 opened #1424 "Stop to overwrite max-age on Cache-Control header"
related issue #1404

I think `Expires` header should not have overwritten with `Cache-Control max-age` header in `expires` method.

I checked RFC2616 which is referenced by implementer probably,

https://tools.ietf.org/html/rfc2616#section-14.21

[code]

So, I think forcibly overwriting was not intentional.
For example, Expires http-date and max-age duration are not able to indicates same time by

[2018-04-27 17:41] iguchi1124 commented on #1423
Oh sorry, it was my misread. `Hash#symbolize_keys!`  is ActiveSupport core extension method, so I'm sure now that the changes should not merge into Sinatra::Indifferent::Hash.

[2018-04-28 14:59] jaequery opened #1426 "change syntax for optional named parameters?"
Hi, is there any way we can change the syntax for optional named parameter from:

/user/?:id?

to

/user/(:id)

?

the reason is that i'm trying to show people just how simple and elegant Sinatra is, and everything is great except that part, which is a bit ugly.

I can switch to Padrino or Rails but I don't want to do that.

Can anyone help me on this? Thank you!

[2018-04-29 16:05] owyongsk commented on #1423
Wow, I screwed this up, didn't check properly on my environment.

[2018-04-29 16:05] #1423 closed

[2018-05-07 21:25] SirKeebz commented on #1294
This issue still hasn't been resolved? I'm currently have the same problem.

[2018-05-11 12:54] kgrz commented on #1294
@SirKeebz do you have a backtrace for this?

[2018-05-14 15:52] nickpelone commented on #1426
With Mustermann/Sinatra 2.0 I believe the preferred form is to use a group and then make it optional at the end, eg:

`/user(/:id)?`

where the above would match `/user`, `/user/1` (with `id` as `1`), etc

See https://github.com/sinatra/mustermann/blob/master/mustermann/README.md#-sinatra-pattern for grouping syntax and the suggestion to use groups alongside an optional at the end.

[2018-05-14 16:11] jaequery commented on #1426
@nickpelone doesn't work for me. i'm on Sinatra 2.0.1

[2018-05-14 17:14] nickpelone commented on #1426
You're missing the `?` at the end, which tells the pattern matcher that the group is optional:

#### example.rb
[code]
- `/user` - will work
- `/user/nick` - will work
- `/user/` - _won't_ work, I'm only just now noticing this (I don't have to support this in my app, so I never noticed)

If you _must_ support the `/user/` case then I imagine `/user/?(:id)?` will work, but I see that ultimately poi

[2018-05-22 08:59] JokerCatz opened #1428 "XSS from params parser exception (status code : 400)"
source at : https://github.com/sinatra/sinatra/blob/3fa1f2c22836b75d86a5c3c14ad319b2806b033e/lib/sinatra/base.rb#L78

    def params
      super
    rescue Rack::Utils::ParameterTypeError, Rack::Utils::InvalidParameterError => e
      raise BadRequest, "Invalid query parameters: #{e.message}"
    end

demo code

    # server.rb
    require 'sinatra'
    # yes ... it empty just require sinatra gem

[2018-05-23 20:03] jcavalieri opened #1429 "Where is the original request body when in error block"
Hi Sinatra team,

I'm using sinatra (2.0.1) and I have an error block, doing something like this:

[code]

I also want to include the original requests JSON POST body if it is there.

Strange thing, when I test using racksh I can find it on several members like the following:
`request.params`, `env['sinatra.error.params']`, or `env['rack.request.form_vars']`

However, when I do an actual POST requ

[2018-05-29 04:59] arpitchauhan commented on #1407
Hi,

If this goes into 2.0.2, it'd be much appreciated. :) https://github.com/sinatra/sinatra/pull/1431

[2018-05-29 22:32] priscilasolis commented on #1426
Taking…

[2018-05-30 15:46] namusyaka commented on #1429
You can get original request body inside error block by using `Rack::Request#body`. It would be something like:

[code]

Please reopen if you still have the issue.

[2018-05-30 15:46] #1429 closed

[2018-05-30 16:02] namusyaka commented on #1428
Really critical issue, thank you for the report.

This vulnerability has been added since [this commit](https://github.com/sinatra/sinatra/commit/8f8df53ff29938ace79b31097c27d9cdac803b44).
I'm going to fix this soon, also we should open the CVE about this.
/cc @jkowens

[2018-05-30 21:44] priscilasolis commented on #1426
I made some changes for this issue [here](https://github.com/sinatra/sinatra/pull/1433). Let me know if you have questions or comments!

[2018-05-31 00:15] jkowens commented on #1428
The attached fix looks good 👍

[2018-05-31 12:54] hbasheer opened #1434 "Encoding::UndefinedConversionError - "\xD8" from ASCII-8BIT to UTF-8:"
iam working on a large app built with sinatra 1.2, few days ago i upgraded sinatra gem to version 2.
after upgrading the this error produce
`Encoding::UndefinedConversionError - "\xD8" from ASCII-8BIT to UTF-8:`
when pass param with arabic language like `services/مواقع`

i searched for it and i didn't found any soluation except `force_encoding("UTF-8")` that can't use it for all params in my app

[2018-05-31 17:54] #1428 closed

[2018-06-01 08:28] namusyaka commented on #1428
CVE is here: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-11627
I'm planning to cut next release v2.0.2 in a few days, thanks.

[2018-06-01 21:45] jcavalieri commented on #1429
Thanks Namusyaka for the response. Your example definitely works for me.

However, I think what is going on is that I've already done the request.body.read in the originating POST route:
[code]
And once it gets to the error block it has already been read. I'm assuming that read is a onetime call, like a stream.

Any suggestions where I might stash the original body during the POST request? Session

[2018-06-01 21:47] jcavalieri commented on #1429
Ahhh, nevermind, just found what I need:

`request.body.rewind`

Thanks :-)

[2018-06-02 07:03] namusyaka commented on #1407
Although v2.0.2 still has many issue and patches, I decided to immediately release v2.0.2 in order to fix critical vulnerability

[2018-06-05 16:00] rschultheis commented on #1428
👋  I am Rob and I work on the GitHub team that sends vulnerability alerts.  Since the CVE is now public, we'd like to send out alerts to users of sinatra <= 2.0.1.

We see here though that you're working on releasing 2.0.2 into RubyGems however.  We plan to publish alerts an alert in the next 48 hours - can you advise on when you plan to release 2.0.2?

Thank you! :octocat:

[2018-06-05 16:36] namusyaka commented on #1428
@rschultheis Sorry, Rob. We will release within a few hours from now.

[2018-06-05 16:45] ghost opened #1440 "markdown function only works for files with the .markdown extension"
[code]

only checks for `views/index.markdown`, and not `views/index.md` or `views/index.mkd`. The docs suggest that all three should work. (Both the [README](http://sinatrarb.com/intro.html) and [cookbook entry](http://recipes.sinatrarb.com/p/views/markdown) state this.)

[2018-06-05 16:47] #1407 closed

[2018-06-05 17:03] namusyaka commented on #1428
Done.
See: https://twitter.com/namusyaka/status/1004045559307558912

[2018-06-05 18:39] auxbuss opened #1441 "Upgrade to v2.0.2 sinatra-contrib forces backports regression"
sinatra-contrib (2.0.1) had backports (>= 2.0) resulting in backports (3.11.3).
sinatra-contrib (2.0.2) has backports (\~> 2.8.2) resulting in backports (\~> 2.8.2)

Of course, this breaks a lot of things.

[2018-06-05 22:19] rschultheis commented on #1428
Thank you for the quick turn around @namusyaka 🙇 .  We've now starting publishing alerts for the CVE.

[2018-06-06 00:47] soundasleep commented on #1441
Yep, this breaks a lot of things. Losing Ruby 2.4+ features in existing projects.

Consider changing ~> 2.8.2 to >= 2.8.2 so that we can add backports 3.11.3.

[2018-06-06 02:06] robinetmiller commented on #1441
+1. Just encountered this conflict with Cucumber.

2.0.2 is supposed to be a fix for [CVE-2018-11627](https://nvd.nist.gov/vuln/detail/CVE-2018-11627), but of course we can't update cleanly because of the conflict. Is there a reason this was locked to Backports 2.8.2?

@namusyaka

[2018-06-06 02:09] namusyaka commented on #1441
To fix broken test, I have locked the backports gem in [this PR](https://github.com/sinatra/sinatra/pull/1419).
I'm going to face this problem, but it seems to take a while.
If you have the best solution, it will be appreciated if you send PR.

[2018-06-06 02:17] fdr commented on #1441
This breaks Sequel's `Model['some-id']` support, which is kind of catastrophic.

[2018-06-06 02:39] robinetmiller commented on #1441
Linking to https://github.com/3scale/apisonator/pull/30

[2018-06-06 02:53] fdr commented on #1441
My mistake, it breaks not Sequel but `pry`, but also fileutils/simplecov trying to do I/O:

[code]

[2018-06-06 03:04] namusyaka commented on #1441
@robinetmiller I will consider whether we can introduce #1420  to v 2.0.3.
I am glad if you can participate in the review.

[2018-06-06 09:28] michal-kazmierczak commented on #1441
@namusyaka `2.0.3` has 18 open issues at this moment, wouldn't expect a quick release. Would it be an option to release `2.0.3` with just a slight change `~> 2.8.3` `>= 2.8.3` and move those 18 issues to 2.0.4? Happy to create PR if it's ok.

Locking backports to 2.8.3 (a 5-year old gem) breaks lots of things.

[2018-06-06 09:36] namusyaka commented on #1441
@michal-kazmierczak Yeah I'm going to consider that

[2018-06-06 14:49] mshiltonj commented on #1441
This problem has me hitting this "ancient" issue on the backports project.

https://github.com/marcandre/backports/issues/92

[2018-06-06 15:18] cice commented on #1441
just broke our app entirely. downgrading to a gem version from 2013 not the best move

[2018-06-06 16:22] priscilasolis commented on #1440
Taking...

[2018-06-06 17:00] namusyaka commented on #1441
First of all, I'm sorry for the regression.
I decided to release v2.0.3 containing a patch about this issue as soon as possible.
I'm planning to release the v2.0.3 tomorrow or day after tomorrow.

And then, in order to release the version, I think the issue must be clearer.
For example, if it is just "broken", I don't know the detailed situation.
I'm currently aware that the locked version of back

[2018-06-06 18:27] auxbuss commented on #1441
@namusyaka `fix-1441` works here 👍

[2018-06-06 21:34] robinetmiller commented on #1441
@namusyaka That fixes mine as well, thanks.

[2018-06-06 22:28] priscilasolis commented on #1440
I did what this issue said and found that, like you mentioned, `views/index.markdown` worked, and `views/index.md` or `views/index.mkd` did not. I tried to find the root cause of this issue without much success.
At one point though, I don't know if I typed in some command, or what caused the change, but I tried it again and it did work.

Could you try again and see if you still have this issue?

[2018-06-07 00:37] ybden commented on #1440
Tried again, same issue. All dependencies were fully up-to-date (sinatra 2.0.1, tilt 2.0.8).

Here's a minimal testcase that reproduces the issue:

[code]

Then, create `views/index.md` as before (content obviously doesn't matter, I just put a line of text in there).

Finally, run `ruby test.rb` and go to http://localhost:4567.

Hopefully you should be able to reproduce with this!

[2018-06-07 06:49] tenderlove opened #1443 "Path encoding issue"
Hi,

We're trying to upgrade a Sinatra 1.4.X app to 2.0.X.  It seems like URI paths get unescaped in Sinatra 1.4.X, but stay escaped in 2.0.X.  Here is an example program to demonstrate the issue:

[code]

If I run this program against the `v1.4.8` tag, then the path value is `"foo\xE2\x80\x8Cbar"`.  But if I run against master (currently c8910e9a7f9537e397f34b9e71e15757ccfbbae3), then the path va

[2018-06-07 08:07] tenderlove commented on #1434
Can you post a sample app that reproduces the error?

[2018-06-07 08:55] jrgns commented on #1441
This breaks `simplecov` as well:

[code]

[2018-06-07 09:04] namusyaka commented on #1441
@jrgns Could you check [this branch](https://github.com/sinatra/sinatra/issues/1442)?

[2018-06-07 09:38] dentarg commented on #1428
@namusyaka @rschultheis FYI Sinatra applications using 1.4.8 (and lower I guess) are also affected, when run as "modular" applications

see my repro at https://github.com/dentarg/gists/tree/master/gists/sinatra-CVE-2018-11627#cve-2018-11627

[2018-06-07 09:40] dentarg commented on #1428
My bad, the issue lies with rack 1.6.x. I will open the issue there.

[2018-06-07 09:50] dentarg commented on #1428
Hmm, rack 1.6.10 isn't vulnerable out-of-the-box. Might be still be an issue with Sinatra?

[2018-06-07 10:35] cice commented on #1441
@namusyaka Thanks for the fix! We were trying to get the security update for sinatra out asap and ran into the same issue as https://github.com/sinatra/sinatra/issues/1441#issuecomment-395096245 , sorry for not being clearer on that.

[2018-06-07 11:35] dentarg commented on #1428
Ah, I see that it was discussed in https://github.com/sinatra/sinatra/pull/1070, to not release to the 1.x series.

[2018-06-07 12:01] dentarg commented on #1428
Ah, with `RACK_ENV=production` Sinatra 1.4.8 does not exhibit the problem.

[code]

    $ ./test.sh
    + curl --include http://127.0.0.1:4567/ --data '" %x\"> <script>alert(1)</script>"'
    HTTP/1.1 500 Internal Server Error
    Content-Type: text/html; charset=ISO-8859-1
    Server: WEBrick/1.3.1 (Ruby/2.4.2/2017-09-14)
    Date: Thu, 07 Jun 2018 11:51:30 GMT
    Content-Length: 365
    Connect

[2018-06-07 12:06] dentarg commented on #1428
...but Sinatra 2.0.1 does have the problem even with `RACK_ENV=production`.

Sorry for the noise, but maybe this saves someone else from playing 🕵️ themselves :)

[2018-06-07 14:11] rschultheis commented on #1428
Hi @dentarg,

The GitHub security alerts for CVE-2018-11627 are currently only going to repos that have sinatra 2.0.0 or 2.0.1 in their Gemfile and/or Gemfile.lock files.  Since the CVE did not specify a minimum version, we did perform a **very basic** analysis to determine that the minimum non-beta version appears to be 2.0.0.  If you have more insight onto what the correct minimum version for th

[2018-06-07 14:34] dentarg commented on #1428
@rschultheis I think you are correct in that minimum version for this vulnerability is 2.0.0. (However, I have only checked 1.4.8, not anything below that.)

[2018-06-07 16:12] priscilasolis commented on #1440
I was using Sinatra 2.0.2 and changed to the 2.0.1 version you are using, but it still works. I'm not sure what the issue could be and it's specially confusing since it didn't work for me either when I tested it out in the beginning.

[2018-06-07 20:12] fcheung commented on #1441
This broke aws-sdk for me

[2018-06-08 16:05] namusyaka commented on #1441
Closed via #1442
And just released v2.0.3 https://rubygems.org/gems/sinatra-contrib/versions/2.0.3

[2018-06-08 16:05] #1441 closed

[2018-06-09 08:59] namusyaka commented on #1443
@tenderlove Hey, thanks for your report.
I guess this is probably a matter of mustermann.
Either way, I will investigate this in the near future.

[2018-06-09 09:05] tenderlove commented on #1443
Thanks for your response! I can make a report on mustermann too, but I'm
not sure exactly what mustermann is responsible for. Maybe uri should be
unescaped before passing to mustermann?

Thank you!
On Sat, Jun 9, 2018 at 5:59 PM namusyaka <notifications@github.com> wrote:

[2018-06-15 20:57] ricardovsilva opened #1449 "Sinatra is calling ERB.new in a deprecated way"
I have the following sinatra application:
[code]
When I run this application in production, I'm getting warning logs because of way that ERB is being called by Sinatra. I believe that it's calling is happening in the following line: https://github.com/sinatra/sinatra/blob/master/lib/sinatra/base.rb#L866

The point is that way to call ERB.new is deprecated. At least is that what my warning messages

[2018-06-16 20:19] dentarg commented on #1449
Just saving the permalink for that URL. https://github.com/sinatra/sinatra/blob/1b35eaa7b8296313d48ec27e52955f10f35462fb/lib/sinatra/base.rb#L866

[2018-06-19 14:07] KrauseFx opened #1451 "sinatra 2.0.3 introduces new `active_support` dependency"
Hey sinatra contributors,

With sinatra 2.0.3, we now have `active_support` as a dependency, as introduced with https://github.com/sinatra/sinatra/pull/1442. I didn't dive into the code base yet on why this is necessary, so I wanted to check here first:

1. Was this change intentional?
1. Is there a good alternative to avoid adding a new dependency to the graph? On the first look it seems like we'

[2018-06-19 14:17] jkowens commented on #1451
There is some discussion about this subject here: https://github.com/sinatra/sinatra/pull/1448

[2018-06-19 14:21] KrauseFx commented on #1451
Perfect, thanks @jkowens, I only searched for issues, not for PRs, thanks, will close this now 👍

[2018-06-19 14:21] #1451 closed

[2018-06-19 16:28] lshep commented on #1294
I'm still getting this same issue - I'm trying to use sinatra (2.0.1) and  data_mapper (1.2.0) - has there been any resolution yet?

[2018-06-19 17:14] dentarg commented on #1294
@lshep can you provide a Gemfile.lock and stack trace that reproduces the issue?

[2018-06-20 11:49] lshep commented on #1294
So I don't have a Gemfile.lock. I'm admittedly am a notice trying to learn and work thought examples.  I am working through
[Just Do It Part I](https://www.sitepoint.com/just-do-it-learn-sinatra-i/) and made it through no problem but now when I am working through [Just Do It Part II](https://www.sitepoint.com/just-do-it-learn-sinatra-ii-2/).  I haven't installed any specific versions of gems so I

[2018-06-20 12:15] dentarg commented on #1294
@lshep I see

If you create `Gemfile` with the following content:

[code]

and issue the commands

    gem install bundler
    bundle install

you will be able to run `irb` like this:

[code]

and `main.rb` like this:

    bundle exec ruby main.rb

[2018-06-20 12:21] lshep commented on #1294
I get the same error but the following is the Gemfile.lock that was produced:
[code]

[2018-06-20 12:31] dentarg commented on #1294
I don't get the error with your `Gemfile.lock`, are you sure it is the same error? Please post all the commands and their output

[2018-06-20 12:37] lshep commented on #1294
Nevermind -  I had to add the dm-sqlite-adapter to the Gemfile and re install.  @dentarg  thank you for your assistance!

[2018-06-21 19:28] ricardovsilva commented on #1449
@dentarg yes, I'm using ruby:2.6-rc-alpine docker image.

[2018-06-27 17:40] murphygithub opened #1456 "cannot load such file -- app (LoadError)"
I got below error when I run ./webapp

root@6aa16207f6d3:/opt/webapp/bin# ./webapp
/usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- app (LoadError)
	from /usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from ./webapp:5:in `<main>'

I have checked my ruby version and don't find any issue. I am lost here.

root@6aa16207f6d3:/op

[2018-06-27 17:57] dentarg commented on #1456
Is this related to Sinatra? If so, do you mind explaining how? Maybe share the contents of the file you are trying to run (`webapp`)?

You might have a better time getting answers (if this is related to Sinatra) by posting to the mailing list: https://groups.google.com/forum/#!forum/sinatrarb

[2018-06-27 22:03] scalp42 commented on #1409
@namusyaka @rkh any idea when a new mustermann version will be released with the fix?

Thanks in advance!

[2018-06-28 15:51] murphygithub commented on #1456
sorry turns out my project missing app moudle

[2018-06-29 03:18] #1456 closed

[2018-07-04 18:59] samwizzy opened #1457 "Installing new rails project using rails new my-project -d=mysql, says an error occurred while installing rubyzip (1.2.1), and bundler cannot continue."
I am new to ruby on rails, i have installed ruby using the rubyinstaller, then i installed rails with "gem install rails", and i have installed mysql with "gem install mysql2", but when i created a rails project using "rails new my-app -d=mysql" i got the projects created but at this end i got an error saying:

Retrying download gem from https://rubygems.org due to error (2/4): Gem::RemoteFetcher:

[2018-07-05 07:48] olleolleolle commented on #1457
The listed URL in the error message is accessible from my computer.

This reads like a temporary network glitch - can you retry?

[2018-07-06 17:29] samwizzy commented on #1457
I have fixed it. I later installed the rubyzip1.2.1 using "gem install rubyzip" and also run my command line this time as an administrator

Thanks

[2018-07-08 06:37] olleolleolle commented on #1457
@samwizzy Can this issue now be closed?

Glad you got it working.

[2018-07-10 18:19] #1457 closed

[2018-07-10 21:05] Gusbenz commented on #1118
Just wanted to share my thanks as well! `$stdout.sync = true` worked for puts. I also learned about stdout flush today. Cheers!

[2018-07-11 12:18] samwizzy opened #1458 "I have just downloaded material-design-components from github but i can't seem to view it on the browser properly"
What do i do next after downloading material design components using "git clone https://github.com/material-components/material-components-web.git"
And i have navigated into the material-component-web directory using "cd material-components-web"

Should i just do this
npm install to get it working
Because i realize that inside the demo folder there are html, js and scss file. For example, the butt

[2018-07-11 18:11] kgrz commented on #1458
Hi, not sure why you decided to open an issue in Sinatra repo, but yes, you're right. You'll have to run `npm install`, and to run a dev server, it looks like the authors provided a command:

https://github.com/material-components/material-components-web/blob/78a09fb9fa707a7e2554fbcb0227ce5055f841a4/package.json#L14

That can be invoked by running `npm run dev`.

[2018-07-11 18:11] #1458 closed

[2018-07-11 18:25] kgrz commented on #1440
Are you adding the `require 'rdiscount'` line in your apps? I've checked this with `2.0.3`, and `.md` works. My gemfile.lock:

[code]

[2018-07-23 17:02] momi9 opened #1459 "issued"
git@github.com:aseprite/aseprite.git

[2018-07-23 17:03] momi9 opened #1460 "issues"

[2018-07-25 16:00] dplassgit opened #1462 "Session timeout units are not defined"
In http://sinatrarb.com/intro.html#Using%20Sessions the `expire_after` attribute is shown but the units are not. Are these seconds? Milliseconds?

[2018-07-25 16:14] dentarg commented on #1462
It is seconds. Reference: https://github.com/rack/rack/blob/2.0.5/lib/rack/session/abstract/id.rb#L361

[code]

[2018-07-27 10:54] codesaler opened #1463 "sinatra behind nginx ssl reverse proxy using thin change session id when request is not get"
enable :sessions // change session id
use Rack::Session::Cookie // is okay

[2018-07-30 10:43] ybden commented on #1440
So, from a fresh install of sinatra (2.0.3), no rdiscount, sinatra complains initially about ruby-pandoc missing. After installing rdiscount, I get the same error as previously:

[code]

This means that sinatra is clearly picking up the existence of rdiscount. Adding `require 'rdiscount'` (either before or after the `require 'sinatra'` line) makes no difference, I still get the same error. I'm not

[2018-07-30 11:38] dentarg commented on #1440
@ybden do you mind putting all the code to reproduce in a repo on github? it would help debugging the issue and making sure we are testing the same things

also, are you using bundler?

[2018-07-30 15:34] ybden commented on #1440
Okay, so several points to make here:
- I'm new to ruby, so hadn't been using bundler before. I've tried once but gave up after confusing/conflicting documentation (do I use `require 'bundler/setup'` and what does that do, or `bundle exec`, or do I need to use both, etc.)
- However, after spending some time today reading through more stuff on bundler I'm now fairly confident that I understand how

[2018-07-30 15:35] ybden commented on #1440
In other words: this bug occurs specifically when (and only when) using redcarpet.

[2018-07-30 15:39] ybden commented on #1440
Actually, it would appear that I missed out commonmarker. Just tried that, and it works fine as well.

[2018-07-31 14:08] 7029279 opened #1464 "vagrant reload plugin installation issue"
I have been trying to install metasploitable 3 to my kali linux which requires vagrant-reload plugin.

When I try to run  `vagrant plugin install vagrant-reload` command, I always get this error below
[code]
Can anyone help me?
I have looked through some websites, but could not really figure out how to solve this dependency issue.

[2018-08-03 21:31] Prakriti-nith opened #1465 "Load Javascript and CSS Libraries from a gem in a Sinatra app"
I want to load Frontend Javascript and CSS Libraries from a gem in a Sinatra app. To include static (JS and CSS) files, we can move the files into a folder named `public` but I can not find a way to load them from a gem.

[2018-08-04 13:28] #1459 closed

[2018-08-04 13:28] #1460 closed

[2018-08-04 17:03] #1443 closed

[2018-08-06 08:51] Semigradsky commented on #1443
@namusyaka  Would be nice to have new version with this fix soon :smile_cat:

[2018-08-06 09:12] namusyaka commented on #1443
@Semigradsky Yeah, I'd like to release new version v2.0.4 as soon as possible. However, [there are many issues](https://github.com/sinatra/sinatra/milestone/24) marked as v2.0.4.
If you would help close the issues, we would like to thank you very much.

[2018-08-07 06:51] dentarg commented on #1443
@namusyaka can the issues be re-marked as v2.0.5 so this fix can be released earlier?

[2018-08-07 18:52] namusyaka commented on #1443
Frequently releasing the patch version is not good for me.
When releasing, we'll always need to update changelog and write blog posts.

At least I think that it's better to develop along milestones as much as possible unless a very critical problem is found.
On the other hand, it isn't always best to release on milestone street. That leads to stagnation of development.
So it may be a good idea to

[2018-08-07 20:56] gjtorikian commented on #1443
Sorry for the drive by comment, but, if this is the case

it sounds like an opportunity for [automation](https://github.com/github-changelog-generator/github-changelog-generator).

While my projects don't have the history of Sinatra, for bugfixes, after a merge into master I'll almost immediately release a patch version. If one has followed semantic versioning properly, it should be a nice improve

[2018-08-08 05:34] namusyaka commented on #1443
Indeed, changelog generation can be automated.
Of course, we have also automated to release the new version.

It's great. If many parts are automated, the cost of releasing will be greatly reduced.
In addition, I won't decide this on my own being, but I would like to lead to a discussion that defines a clear release cycle policy.

[2018-08-08 05:35] namusyaka opened #1467 "Sinatra Release Cycle"
As discussed at #1443, I'd like to discuss about the release cycle for Sinatra.
Any opinions?

[2018-08-09 06:21] furuta-gx opened #1468 "sorry, I mistake"

[2018-08-09 06:21] #1468 closed, assigned to nobody

[2018-08-16 16:46] namusyaka commented on #1409
@scalp42 Sorry for the late reply, I have just released mustermann [v1.0.3](https://rubygems.org/gems/mustermann/versions/1.0.3). Please check it out.

[2018-08-18 09:52] namusyaka commented on #1467
I'd like to define a clear release cycle [like golang](https://github.com/golang/go/wiki/Go-Release-Cycle), for example.
This is a proposal to make it possible for many contributors to become aware of the schedule based on the release cycle and to promote smooth development.
In addition, by reflecting this proposal, it also makes it easier to manage many tickets.

[2018-08-18 10:51] dentarg commented on #1467
This started in #1443 with https://github.com/sinatra/sinatra/issues/1443#issuecomment-411162899 and I've been meaning to reply so here goes

I understand you @namusyaka and it is good that you tell us this. Hopefully we can find ways to make it better. I will try to express my ideas.

I agree that the changelog needs to be update when a new version is released. One idea to make it easier for you

[2018-08-18 12:00] namusyaka commented on #1467
Hello @dentarg, thank you so much for your comment. I'm pleasure to see your participate.

This is good. Your idea can easily be possible by adding sentense in `CONTRIBUTING.md` and implementing Danger for noticing about `CHANGELOG.md`. See also [grape development iteration](https://github.com/ruby-grape/grape/pull/1774).

If blog post is big maintainance cost, we should consider to skip blog post

[2018-08-18 12:29] dentarg commented on #1467
I re-read [the comment by @gjtorikian in #1443](https://github.com/sinatra/sinatra/issues/1443#issuecomment-411199708) and I saw that https://github.com/github-changelog-generator/github-changelog-generator was linked. This could be an alternative to nagging the contributor about writing a changelog entry.

I also liked this part

I would prefer this, and _if_ I maintained a project I would try to

[2018-08-21 14:25] sandstrom commented on #1294
For anyone who find this via google:

[code]

[2018-08-23 14:47] dentarg commented on #1369
I don't think the default for `development` should be changed back to `0.0.0.0`. If you are dealing with Docker, I think it is reasonable to know about changing the binding for your application.

If you are developing on an open Wi-Fi in a coffee shop, I think it is a big chance that you don't know about the risks with it, so I agree with the opinion that Sinatra should pick the secure option for

[2018-08-23 14:59] codenoid commented on #1369
yeah, the "development" mode should be use "localhost"

[2018-08-23 15:28] ibnesayeed commented on #1369
Agreed on this part. In my case, I was well aware of it as I consider myself a Docker expert, but the documentation of Sinatra was inaccurate, so I wasted a lot of time when I filed this ticket.

I really want to understand the risks involved. Rather than just tossing opinions back and forth and mentioning big terms like *security* and *risks* (which can be very much real), let's asses potential r

[2018-08-25 04:26] kgrz commented on #1465
You might  have to rely on sprockets to do this. Sinatra directly can’t pick assets from inside of a gem. The recipes website has an example http://recipes.sinatrarb.com/p/asset_management/sprockets#article

[2018-08-28 19:53] Arteneko opened #1472 "Custom logger"
I've been trying to set up a custom logger to hide some sensitive informations from the WEBrick auto-logging.

My code is the following:

[code]

And my application (entrypoint) code is the following:

[code]

After this code, if run, I still get the usual logging alongside my own inspect puts call:

[code]

My question is: How to either disable the logging completely or change the logger class ?

[2018-09-14 17:29] namusyaka opened #1473 "Sinatra v2.0.4"
At the discussion #1467, we're talking about the release cycle. But unfortunately, I don't have enough time for deciding our decision, so I would like to release the new version v2.0.4 without official releasing rule at this time,

[2018-09-15 09:31] #1473 closed

[2018-09-20 12:29] DannyBen opened #1476 "Please remove the ActiveSupport warning"
https://github.com/sinatra/sinatra/blob/b7c10649cad56f3263df089027621fb1753620cb/lib/sinatra/indifferent_hash.rb#L2-L8

Sinatra is used a lot as an embedded server. Now some of the tools that I have developed display this warning in the end result (i.e. to the user, not the developer).

I am not even including ActiveSupport directly in my gem, it is included through sinatra-contrib....

This type

[2018-09-20 15:52] mwpastore commented on #1476
Would an environment variable be an acceptable way of doing this?

[2018-09-20 16:10] DannyBen commented on #1476
If you ask me, this "fix" creates more issues than it solves, and users should not be required to do *anything* to make it stop showing a warning, that they can do nothing about...

Don't get me wrong, I have mad respect for all the free time people put into open source, and Sinatra is one of my favorite Ruby projects, but - as an open source developer myself - I think we all need to remember that

[2018-09-20 16:35] mwpastore commented on #1476
There are some horrifyingly subtle bugs that can happen here if you don't get the code ordering _just so_. It didn't make sense (to me) to bury the warning in a piece of documentation that no one will ever read. I agree that it is aggressive and ugly, but I disagree that it "creates more issues than it solves."

I'm definitely open to alternative solutions and will defer to the Sinatra team on thi

[2018-09-20 16:41] DannyBen commented on #1476
Ok..... just note that for me at least, changing the warning to only show in non production is not going to cut it. In my command line utilities that happen to have Sinatra as the driver behind one of their sub commands, this warning will always show - like this:

[code]

[2018-09-20 16:45] mwpastore commented on #1476
We only need to show the warning message on older Rubies, so maybe that's a step we can take immediately. What version of Ruby are you running under?

[2018-09-20 16:57] DannyBen commented on #1476
This sounds great. Which is the highest version that requires this warning?
I am personally using 2.5.1, but I develop gems that support back to the area of 2.2.2 usually.

[2018-09-20 17:07] mwpastore commented on #1476
Anything under 2.5 could potentially be monkeypatched by ActiveSupport and break IndifferentHash.

[2018-09-21 16:43] programmarchy opened #1478 "FrozenError - can't modify frozen String ... in: `force_encoding`"
I encountered this error with ruby 2.5.1 and sinatra 2.0.3. The full stacktrace is below, but here's the culprit in `sinatra/base.rb`:

[code]

Here's a fix for that line:

[code]

[code]

[2018-09-21 18:42] dentarg commented on #1478
do you mind sharing how to reproduce the bug?

[2018-09-21 19:45] programmarchy commented on #1478
I'll need some time to distill the exact problem, but here's one way:

[code]

Go to http://localhost:9292/auth/login

Type in test / test for username / password.

You should get an internal server error, and the stack trace in my original comment.

[2018-09-21 20:21] simonneutert commented on #1478
now I know a bit more. What you mean is an Error when the wrong credentials are entered... I investigate further

[2018-09-21 20:48] programmarchy commented on #1478
@dentarg

Here's a simple example:

[code]

I'm still not exactly sure how the frozen string is making its way to `force_encode`, but it's coming through the warden authenticate middleware.

[2018-09-21 20:53] dentarg commented on #1478
@programmarchy That's not what I asked for. I want to know how the HTTP request look like that a causing the `FrozenError` to be raised.

If it only happens when the warden authenticate middleware is used, I'm not sure it's legit Sinatra bug.

[2018-09-21 21:00] programmarchy commented on #1478
@dentarg Still working on a specific test case.

Just pointing out the `force_encode` function is prone to crashing, so seems odd to blame the middleware at this point.

[2018-09-21 21:33] sammyhenningsson commented on #1476
I don't understand the reason for this. My tests are now failing in TravisCI since I don' have activesupport installed. If activesupport is now a required dependency, then please add it that to the gemspec!!

[2018-09-21 22:31] dentarg commented on #1136
@namusyaka can this issue be closed? #1137 has been merged

[2018-09-21 23:08] dentarg commented on #1478
Thanks, I see the same thing myself (https://github.com/dentarg/gists/tree/master/gists/sinatra-frozen)

I'm not really familiar with the Sinatra codebase, nor the rack codebase, so I don't have an answer for you.

Just gonna leave the `Rack::Request#update_param` documentation here, if it can give some clue to what's going on https://github.com/rack/rack/blob/2.0.5/lib/rack/request.rb#L363

[2018-09-21 23:43] mwpastore commented on #1476
The reason for what? ActiveSupport is not a required dependency for
Sinatra. It *is* a required dependency for Sinatra::Contrib, and it's in
the gemspec for that gem.

[2018-09-22 05:36] sammyhenningsson commented on #1476
Now that ActiveSupport is used in IndifferentHash I think it should be a dev dependency for Sinatra.
I have a project that does not use neither Sinatra::Contrib nor ActiveSupport. Since 2.0.4, my tests are now failing because Sinatra is trying to load ActiveSupport.

[2018-09-22 15:44] mwpastore commented on #1476
@sammyhenningsson ActiveSupport is **not** used by IndifferentHash and it was never intended to be a dependency, but yes, there is a bug in the logic that conditionally loads ActiveSupport, and it should be resolved by #1477.

[2018-09-25 07:55] msyesyan commented on #1280
![screen shot 2018-09-25 at 15 54 12](https://user-images.githubusercontent.com/2162116/46000487-49016880-c0db-11e8-927e-b15db83d90ff.png)

I got this error after change my extension code.

By the way, the first time I run `rack` works,

[2018-09-25 08:15] msyesyan commented on #1280
https://github.com/msyesyan/sinatra-reloader-extension-error  here is a demo app

ruby version is 2.5.1

[2018-09-25 09:04] kamina91 commented on #1449
I investigated and noticed that this is `Tilt`'s warning.

[code]

This is already solved by https://github.com/rtomayko/tilt/commit/4aff2d124e684c40240baf2d79d0ca1cd4cfc0f0 , thus there is nothing to do.

[2018-09-26 00:53] msyesyan commented on #1280
@raldred please have a look ^_^

[2018-09-28 16:35] programmarchy opened #1480 "Issues with content_for and yield_content in sinatra-contrib"
Using sinatra 2.0.3 and ruby 2.5.1.

The sinatra-contrib docs say to use `<%= yield_content :title do %>Default Title<% end %>`, however this produces a SyntaxError originating in tilt's `template.rb`. Using the `<%` template operator does not throw a SyntaxError, however, it will only yield the default content i.e. it wont yield the content for `:title` if it _has_ been set.

Additionally, the si

[2018-10-12 12:59] npickens commented on #1476
Alternative solution: **get rid of the ActiveSupport dependency entirely.**

* The use of `IndifferentHash` in `sinatra-contrib/config_file` would be trivial to handle in-line.
* `sinatra-contrib/capture`'s use of `try` would also be easy to replace with simple `respond_to` checks ([related comment](https://github.com/sinatra/sinatra/commit/4b77084a178665c3732ee7251d15cf18ed2fea6c#commitcomment-29

[2018-10-13 04:05] miguelsolano commented on #1472
@IvanDelsinne  Can you provide a sample repo of when this is happening? I couldn't recreate it, but would love to try my hand at fixing the issue if it exists.

[2018-10-13 11:10] IvanDelsinne commented on #1472
[This repo](https://gitlab.com/Artemix/albumr/) containing a quite simple code is producing the error.

If you contact the route, two log lines appear, the first one being my `puts env["PATH_INFO"].inspect`; the second one being the rack logging.

To start the project, you simply have to do `bundle && bundle exec rackup`, which will listen to 9292.

## Example log

[code]

[2018-10-14 19:27] nixon1333 opened #1483 "Can't serve file. Error: Content-Length header was 2111, but should be 44"
Hello,

I am trying to serve files from Sintra. But whenever I am trying to do that I am getting this following error.

    "#<Rack::File::Iterator:0x0000555e0f7b5080>"[:errorI"LRack::Lint::LintError: Content-Length header was 2111, but should be 44:
    ET[-I"F/usr/local/bundle/gems/rack-2.0.5/lib/rack/lint.rb:20:in `assert';
    FI"V/usr/local/bundle/gems/rack-2.0.5/lib/rack/lint.rb:692:in `veri

[2018-10-14 20:13] dentarg commented on #1483
do you still have the error if you run without shotgun?

[2018-10-14 20:17] nixon1333 commented on #1483
Closing the issues. It was my problem. I added the following code in my init script.
[code]
That's why it's being happening.

[2018-10-14 20:17] #1483 closed

[2018-10-14 20:17] nixon1333 commented on #1483
@dentarg no. resolved this few minutes ago. Thanks.

[2018-10-16 12:49] baelter opened #1484 "Remove Rack::Protection::ContentSecurityPolicy defaults"
`Rack::Protection::ContentSecurityPolicy` has `script-src` and `style-src` defaults making it impossible leave them out of the header to have them fallback to `default-src`.

[2018-10-17 01:01] ginjo commented on #1476
What if the warning were to show ONLY when the gems load in a way that could cause problems? And if we follow the warning's instructions to load the gems in a specific order, the warning would go away.

Would this even be possible, or would it create as many problems as it solves?

[2018-10-17 13:30] mwpastore commented on #1476
This is impossible.

If you choose to load ActiveSupport core extensions to hash, and load them before requiring Sinatra, the warning will not show.

[2018-10-18 20:16] SwagDevOps commented on #1476
Please remove ActiveSupport.

[2018-10-19 18:51] maryam-b commented on #1381
@namusyaka Is this open for taking? is this a bug? would be great to know if we can work on it.

[2018-10-20 13:45] dentarg commented on #1381
@maryam-b I think it is safe to assume this bug is open for taking (label "help wanted" and no real activity here)

[2018-10-22 04:41] namusyaka commented on #1381
@maryam-b Sorry for the late.
Yes, this issue is still open.

We need to reproduce this bug as a first step.
If this bug can be reproduced, we shoud write a test and fix it.

I would appreciate if you can work on this issue.

Thanks,

[2018-10-22 07:18] ZimbiX commented on #1476
Here's the least uncomfortable workaround I could think of:

[code]

Once Active Support is removed from sinatra-contrib, this will be irrelevant.

[2018-10-22 09:04] maryam-b commented on #1381
@namusyaka okay then start working on it.

[2018-10-23 13:32] DannyBen opened #1486 "Cannot rescue `Server.run!` when using puma"
Since I am using Sinatra as an embedded server in a couple of my command line tools, I would like to avoid showing Ruby traces to the user when sinatra fails to launch.

So - the obvious solution for me, is to simply rescue errors raised by `Server.run!`.

This works without a problem with `thin` as the server, but when using `puma`, there is still backtrace printed to STDERR.

The below code demo

[2018-10-23 17:19] dentarg commented on #1486
@DannyBen have you tried explicitly rescuing `Exception` in your code?

https://docs.ruby-lang.org/en/2.4.0/syntax/exceptions_rdoc.html

[2018-10-23 17:34] DannyBen commented on #1486
Yes, same result. Try the code, my guess is it will behave the same on your machine as it does on mine (its all self contained in that sample code).

I think this is an issue, with two levels of severity:

1. I think there should be a way for me to rescue errors, no matter what server I use as a backend. Right now, I cannot seem to be able to do so with puma (although I may be wrong, and there *is

[2018-10-23 18:00] jkowens commented on #1486
It looks like there is an open issue for Puma about this. See https://github.com/puma/puma/issues/1523.

[2018-10-23 18:21] DannyBen commented on #1486
These are good news, thanks for referencing. I see there is a relatively fresh PR that fixes it, so hopefully they merge soon. I am closing this issue then, nothing to do but wait I guess.

[2018-10-23 18:21] #1486 closed

[2018-10-28 12:58] namusyaka opened #1487 "Erubi support"
As discussed at #1475 , the [erubi](https://github.com/jeremyevans/erubi) gem has been released and it's adopted in rails.
Of course we can use `erubi` on Sinatra by installing the gem because `tilt` will automatically enable `erubi` as an ERB template engine.

However I think we can support the erubi explicitly like `erubis`. If this issue is reasonable, we will work on the docs, testing, and the

[2018-10-29 15:56] jkowens commented on #1484
After reading some [docs](https://hacks.mozilla.org/2016/02/implementing-content-security-policy/), I agree that a better default would be to set `default-src: "'self'"` and to remove defaults for `script-src`, `style-src`, `img-src`, `connect-src`.

https://github.com/sinatra/sinatra/blob/e0aa37dce6f25700131ced4a09e10dda67250b36/rack-protection/lib/rack/protection/content_security_policy.rb#L39

[2018-10-30 02:55] tkmru commented on #1487
I'm interested in it, I'll work on this issue.

[2018-10-30 03:46] namusyaka commented on #1487
@tkmru No worry, go ahead!

[2018-11-01 02:17] Klockner commented on #1249
@burningTyger I've checked the pt-BR translation from README and realized that it is outdated, can I work on it? =)

[2018-11-01 12:40] burningTyger commented on #1249
@Klockner sure, that would be great. :+1:

[2018-11-03 13:02] namusyaka commented on #1484
PR is welcome ;)

[2018-11-03 13:04] namusyaka commented on #1480
@programmarchy Could you provide a minimal example for reproducing the issue?

[2018-11-03 13:06] namusyaka commented on #1464
Is this a sinatra issue? Could you explain more details?

[2018-11-03 13:06] namusyaka commented on #1463
@codesaler Could you provide a minimal example for reproducing the issue?

[2018-11-04 10:48] namusyaka commented on #1476
Closed via #1477

[2018-11-04 10:48] #1476 closed

[2018-11-04 18:01] jkowens commented on #1484
@namusyaka PR submitted 😃

[2018-11-05 13:49] namusyaka commented on #1484
@jkowens Good job! I'll take a look later!

[2018-11-09 23:46] resistorsoftware opened #1496 "URL Parameter question"
With old Sinatra, I was used to arrays passed as ?ids=1&ids=2&ids=3 and having a parameter ids which was an array with [1,2,3]

Lately bumping to whole new stack with Sinatra 2, I am seeing problems where someone decided to change sending parameters to the PHP style of ?ids[]=1&ids[]=2&ids[]=3

Now instead of seeing [1,2,3] I am seeing [[1],[2],[3]] which makes me want to scream... I was pretty su

[2018-11-10 04:51] jkowens commented on #1496
I'm fairly certain Sinatra works as you were expecting. A query string of `ids[]=1&ids[]=2&ids[]=3` will result in `['1', '2', '3']` for `params[:ids]`.

Try an example app:

[code]

`curl -g 'http://localhost:4567/test?ids[]=1&ids[]=2&ids[]=3'`

[2018-11-10 15:31] resistorsoftware commented on #1496
Examining my logs.. I extracted this, hence the reason for my issue:

    GET path="/print/addresses?ids%5B%5D%5B%5D=660283686983&ids%5B%5D%5B%5D=660198654023

    params.inspect: { "ids"=>[["660283686983"], ["660198654023"]] }

    params: [["660283686983"], ["660198654023"]]

I notice the sender is wrapping each item in double square brackets... in this case, so ids[][]=1 resulting in [[1]]. The

[2018-11-10 19:55] Klockner commented on #1249
@burningTyger It is my first contribution, so I will start with this little one (https://github.com/sinatra/sinatra/pull/1497) and keep moving forward. Should I use this same PR for all the changes that will come or should I do it in separated parts?
Any advice would be welcome, thanks. 👍

[2018-11-11 17:53] resistorsoftware commented on #1496
The source of the problem lies outside Sinatra.

[2018-11-11 17:53] #1496 closed

[2018-11-11 19:01] burningTyger commented on #1249
@Klockner this looks good so far. I suggest you translate the explanations around the code samples which you already did along with the different configuration settings and then sqash them into one commit so it looks nice. If all you edit is the md file you can add a `[ci skip]` to your commit message so the tests are not run on it. If you manage to translate even more that would also be very nice

[2018-11-13 09:44] yegor256 opened #1498 "undefined local variable or method `running_server'"
I'm getting this message sometimes, when calling `Front.quit!`:

[code]

I'm using Thin. I belive, it's some sort of a bug.

[2018-11-14 23:16] chrisdel101 commented on #1100
I solved but installing sinatra and sinatra-contrib on their own. abandoned bundle install

[2018-11-14 23:37] Klockner commented on #1249
@burningTyger I got someone pt-br native to do the review. I have also applied your suggestions on it.
What are the next steps?

[2018-11-27 15:58] mikegee commented on #1302
I just came across this and I'm confused by @zzak's response too. These two occurrences of `private` don't change the visibility of the classes and modules that follow, so they are indeed useless.

I recommend reopening this issue and merging the associated PR.

[2018-11-28 11:10] krelly commented on #1480
@namusyaka I'm facing the same issue, using `yield_content` without default block works fine, but with a block, SyntaxError is raised
I created example repo to reproduce this issue: https://github.com/krelly/sinatra-yield-content

[2018-11-28 21:32] jkowens commented on #1480
From the bit of research I've done, it doesn't appear that the documented erb code is valid. It's not supported by erb, erubis, or erubi.  @namusyaka do you know of any workarounds or does the documentation need updated?

[2018-11-30 18:59] jkowens commented on #1480
I've submitted a PR that would allow the following syntax to work for ERB:

[code]

[2018-11-30 19:08] daveroberts opened #1501 "2.0.4 requires ActiveSupport, breaks Bundler.require"
I updated my app to Sinatra 2.0.4 which has ActiveSupport in its Gemfile.  In my application, I have:

[code]

But my application now breaks when trying to load Sinatra:

[code]

My application doesn't use the active support gem and this is why it's not found.  I'm not sure why adding this dependency breaks my application, but it does

[2018-11-30 20:03] mwpastore commented on #1501
Hi @daveroberts, I'm sorry that you're experiencing this issue. It's fixed in master and will hopefully be released with Sinatra 2.0.5. If you want to know more, read on.

Sinatra has ActiveSupport in its Gemfile as a **development** dependency, which means it **doesn't** get added to your bundle. This is the cause of your issue: ActiveSupport isn't in your bundle, so Sinatra::IndifferentHash can'

[2018-11-30 20:16] dentarg commented on #1501
@mwpastore how come upgrading to Ruby 2.5.0 resolves the issue? (just curious)

[2018-11-30 20:35] daveroberts commented on #1501
Thank you @mwpastore

The workaround I chose was to downgrade to Sinatra 2.0.3.  Is there any reason I should avoid this as a workaround?

[2018-11-30 20:39] mwpastore commented on #1501
@daveroberts If you're using Sinatra without ActiveSupport, 2.0.3 should be fine, although there are a few other bug fixes in [2.0.4](https://github.com/sinatra/sinatra/blob/master/CHANGELOG.md#204--2018-09-15) that you're missing out on. I think it's probably fine.

[2018-11-30 22:52] jkowens commented on #1480
It should also fix the issue @programmarchy mentioned where `content_for` only sets a value when it is in block form.

[2018-12-08 14:46] #1487 closed

[2018-12-11 15:48] jkowens commented on #1369
Just as a note: Rack, Padrino, and Rails all bind to localhost in development mode. It seems like this has become the norm in our community. We don't have to copy what they do, but I think it could be argued that bucking the trend in this particular instance could also cause unexpected surprises.

[2018-12-11 17:07] rmoriz commented on #1369
I was bitten by this in a new project because I forgot to set `APP_ENV` in the new Dockerfile. So IMHO it's not about the interface but about setting the right environment (APP_ENV/RACK_ENV). Maybe we can just add a warning like the way with `lib/sinatra/indifferent_hash.rb`?

For example:

`WARNING: Your application currently runs in development mode which is not designed for remote use and/or us

[2018-12-12 04:26] japex opened #1503 "Use of @env causes "IndexError: string not matched" while handling an error"
Suppose the following app works fine:

[code]

If you change the code as follows, forgetting require 'haml',

[code]

you get the folowing error.

IndexError: string not matched
file: gems/sinatra-2.0.4/lib/sinatra/base.rb, location: []=, line: 1114

Looks like @env in base.rb is overwritten with 'development' and causes the error while handling the require error.
Is use of @env is prohibited, or

[2018-12-12 05:31] jkowens commented on #1503
Yes, it looks like overwriting `@env` is off limits. Along with that instance variable, it appears Sinatra also defines the following in the `Base` class:
[code]

[2018-12-12 05:54] codenoid commented on #1369
yes, we need 127.0.0.1 for development

[2018-12-15 18:46] namusyaka commented on #1503
As @jkowens said, you shouldn't overwrite sinatra's original instance variables.
Closing this as not sinatra issue.

[2018-12-15 18:46] #1503 closed

[2018-12-16 07:50] #1478 closed

[2018-12-17 11:13] yoLotus opened #1507 "shouldn't the opening example include `Sinatra::Application.run!` ?"
Hello,

I tried to run the opening example as written in the first lines of the README but when running `ruby myapp.rb` it silently exit without listening on port `4567`.

I needed to add `Sinatra::Application.run!` to make it worked:

[code]

Did I miss something?

[2018-12-20 08:21] christopherganda commented on #1249
I would like to add indonesian translation, is there any requirements I need to understand?

[2018-12-20 08:30] burningTyger commented on #1249
@christopherganda first of all welcome to sinatra! If you would like to translate feel free just start with the basics. The documentation is quite comprehensive and even a subset is a great start. It helps if you have someone you can work with and who can proof read your translations. I will be checking your translation afterwards for style errors and the like.

[2018-12-20 08:46] christopherganda commented on #1249
@burningTyger Cool! Working on it

[2018-12-21 17:17] namusyaka opened #1508 "v2.0.5 release"
I'm planning to release new v2.0.5 version by 24th Dec.
Please let me know if I'm missing anything or you have any concern.

- [x] triage important issues/patches
- [x] update changelog
- [ ] prepare blog post

https://github.com/sinatra/sinatra/compare/v2.0.4...master

[2018-12-21 17:30] #1138 closed

[2018-12-21 17:34] namusyaka commented on #1498
Couldn't reproduce your issue. Please provide minimal code with Gemfile for reproducing it.

[2018-12-21 17:48] namusyaka commented on #1507
@yoLotus Thanks for your report. That is good point.
At first, we haven't expected to use `require 'sinatra'` combined with `require 'bundler/inline'`
Please take a look at: https://github.com/sinatra/sinatra/blob/69956da995b1a4c06b481431129e3e516800a0e2/lib/sinatra/main.rb#L26

In your case, `Application.run?` always returns `false` because of:
https://github.com/sinatra/sinatra/blob/69956da995b1

[2018-12-21 22:52] jkowens commented on #1144
@namusyaka I don't think this is an issue any longer since we're not using `render` for capture. I believe it is safe to close.

[2018-12-21 22:55] jkowens commented on #1159
@namusyaka I think this is resolved by #1504.

[2018-12-22 04:13] namusyaka opened #1509 "Add Crew page"
Currently, our `Crew` link will route to [github contributors page]( https://github.com/sinatra/sinatra/graphs/contributors). However, I think that we can introduce the team that is the core of sinatra we possess.
By doing so, we can clarify who is working on development with ownership in sinatra, and can expect to facilitate to the contribution inside the community.

I would like to hear your opi

[2018-12-22 04:42] jkowens commented on #1509
I really like this idea 💯

It would be nice to know who is actively involved in maintaining Sinatra and what roles need filled.

[2018-12-22 09:43] namusyaka commented on #1449
@kamina-zzz Thanks for investigating the issue. Let me know if you still have any concern or problems.

[2018-12-22 09:43] #1449 closed

[2018-12-22 09:45] namusyaka commented on #1426
@sizief Go ahead.

[2018-12-22 09:47] namusyaka commented on #1467
https://github.com/sinatra/sinatra.github.com/pull/241

[2018-12-22 11:06] #1508 closed

[2018-12-23 14:43] yoLotus commented on #1507
Hello @namusyaka , thanks for your detailed answer.

I didn't know about the `:app_file` setting. I tried your example and It worked perfectly.

I usually use `bundler/inline` script to test gems or quickly write small scripts with ruby, I don't know if it is a common way to do things but If you think it is relevant to add your example in the documentation, I can handle it in a PR. Where should I

[2018-12-24 15:05] namusyaka commented on #1507
@yoLotus Thanks for confirmation.
I'd like to make implementation handle the case rather than documentation. I've just marked this as a bug.

[2018-12-24 15:18] namusyaka commented on #1509
In order to implement this idea, we also need to think about following points:

- Page Design (Is there someone who wants to design this page?)
- Implementation idea (Can we use `AUTHORS.md` as a source?)
  - We need to reduce the cost of the maintenance even if this idea has been approved.
- Confirm that there are no people who do not want to be shown on this page

I'd continue to welcome your op

[2018-12-24 15:20] kgrz commented on #1509
I can work on the design next month. But intend to keep that slot open if anyone beginner wants to work on it.

[2018-12-25 20:39] yoLotus commented on #1507
Just a side question but I was wondering if it was really necessary to run `application.run?` in the `main.rb` here:

[code]

Only check that `$!` is nil shouldn't be enough ?

Otherwise when I modify the `main.rb` like this, it works without to be forced to explicitly set `app_file` in my script:

[code]

But I am not sure it's the best way to do...

[2018-12-26 11:39] namusyaka commented on #1509
@kgrz Great!

[2018-12-28 09:32] namusyaka opened #1510 "Release Automation"
In order to reduce the cost of maintenance for sinatra and improve contributors experience, we'd like to automate for each patch-level releases.
If a commit is pushed to the master branch, new patch-level release is automatically created.

This feature will be consist of:

- Github Label Management
  - For example, it's strange that new patch version is released only by correcting typos.
  - We ne

[2019-01-03 15:52] karol-blaszczyk commented on #1472
@IvanDelsinne Sinatra and WebRick are both adding CommonLogger.

See discussion: https://stackoverflow.com/questions/31206060/sinatra-with-puma-gives-twice-the-output-in-the-terminal

What you can do in hacky way is to monkey patch Rack::CommonLogger like :
[code]

[2019-01-05 18:38] namusyaka commented on #1510
Creating...: @sinatra-bot

[2019-01-07 22:29] gowda opened #1512 "Travis build fails for ruby version 2.2.10"
Travis build for `ruby-2.2.10` fails with:
[code]
According to [travis documentation](https://docs.travis-ci.com/user/languages/ruby/#bundler-20), it is due to `bundler-2.0` upgrade which has removed support for `ruby-2.2` & older.

[2019-01-10 17:55] jeltz opened #1514 "Siantra 2.0.5 may throw "can't dup NilClass" in Ruby < 2.4"
The c686a10be68a959c34495c4969dcbabe7b93205e commit introduced a bug in Ruby 2.2 and 2.3 since it failed to take into account that parameter values can be `nil` (e.g. for requests with paths like `/?x`) and that `NilClass#dup` throws `TypeError: can't dup NilClass` in older rubies (that change was introduced in https://github.com/ruby/ruby/commit/70d8e6cf22515bfbf15bd283726ce9b72730164d).

I think

[2019-01-25 12:19] kendrikat commented on #1020
@GCorbel - did you find a solution eventually? :)

![image](https://user-images.githubusercontent.com/5031745/51745586-97cc0880-20a3-11e9-902b-259ad1b0a780.png)
[source](https://xkcd.com/979/)

[2019-01-25 15:59] GCorbel commented on #1020
Sorry @kendrikat, I didn't found a solution and I don't use Sinatra anymore.

You're picture is really appropriate.

[2019-01-29 22:08] daBee commented on #1280
Not sure if this is related, but I have a view that's not visible.  `:development` environment.

    Errno::ENOENT - No such file or directory @ rb_sysopen - /Users/rich/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sinatra-contrib-2.0.5/lib/sinatra/views/shorts/about.erb

__note:__ `/tmp/Xalways_restart.txt` is not forcing restart (hence the 'X').  My goal is to have erb files reload upon resave

[2019-01-31 20:43] garybernhardt opened #1518 "Sinatra leaks sensitive information from any exception with an `http_status` attribute"
This is fundamentally the same issue as #1204. However, I think I have a clearer explanation of what's happening, including an easily-reproduced example. I also think the bug is a serious security problem and want to make that clear.

First, Stripe's errors have an `http_status` attribute. This attribute represents the status code returned by Stripe's servers. For example, [here](https://github.co

[2019-01-31 21:07] mwpastore commented on #1518
Add an error handler to your app to modify the message.

[code]

[2019-01-31 23:22] jkowens commented on #1518
Looking at this, it seems the exception message will be printed to the body if it is http status 400 or 404. Still not good. See https://github.com/sinatra/sinatra/blob/26fa5c86220890a02cc0f070ddb2696d74a5b843/lib/sinatra/base.rb#L1132.

I'm wondering why there isn't a `Sinatra::Error` class with internal errors extending from that. Seems like this is a case where checking type would be better tha

[2019-01-31 23:33] garybernhardt commented on #1518
@jkowens I also reprod it with 401 when I was diagnosing it. Didn't dig any deeper into the exact status codes affected, though.

[2019-01-31 23:35] garybernhardt commented on #1518
@mwpastore We'll work around it now that we know. But the problem is that I've never heard of this in ten years of using Sinatra. And we only discovered it because we happened to see an unhandled `Stripe::InvalidRequestError` during development and tracked it down. We could've just as easily found out because it happened in production, leaking sensitive billing data to the client. Like @jkowens, I

[2019-02-01 05:07] jkowens commented on #1518
It looks like Sinatra has tried to set the `http_status` of an error as the response status back to version 1. The difference in 2.0 is that if `http_status` returns 404 or 400, the message of the error is sent as the body of the response by default. Clearly something that should only be reserved for internal Sinatra errors.

[2019-02-03 12:59] #1512 closed, assigned to nobody

[2019-02-03 14:56] namusyaka commented on #1518
This is an API design issue, **not a bug**.
Sinatra provides several features by duck-typing according to the Ruby style.
Thus, I don't intend to take a patch from @jkowens right away (but thanks for working on this issue).

By reporting this issue, I could recognize the problem on the API design.
Indeed, we didn't mention it in our document explicitly.

At least, we can take a following action:
-

[2019-02-03 15:00] namusyaka commented on #1514
Definitely bug and my bad...
Thanks for the report.

[2019-02-03 16:11] namusyaka commented on #1507
@yoLotus I have created [a patch](https://github.com/sinatra/sinatra/pull/1520) for fixing the issue. Could you take a look?

[2019-02-03 19:37] garybernhardt commented on #1518
I don't think that mentioning `http_status` in the docs solves the problem. Every Sinatra user would have to manually check for an `http_status` method in every exception class that can be raised by any library in the system.

[2019-02-03 19:44] namusyaka commented on #1518
@garybernhardt I don't say that mentioning in the document will solve this problem. I said that it's important to clarify the matter until the problem is solved in the future.
Please don't misunderstand

[2019-02-03 20:11] garybernhardt commented on #1518
@namusyaka Got it, thanks for clarifying and sorry for misunderstanding!

[2019-02-04 11:55] darkogj commented on #1300
Rails already does this from version 5.2:

As of Rails 5.2 encrypted cookies and sessions are protected using AES GCM encryption. This form of encryption is a type of Authenticated Encryption and couples authentication and encryption in single step while also producing shorter ciphertexts as compared to other algorithms previously used. The key for cookies encrypted with AES GCM are derived using

[2019-02-04 14:46] darkogj opened #1521 ""redirect" inside "before" causes a loop"
I am using Sinatra classic (the latest version) with this code:

[code]

and getting a redirect loop no matter what page I go to. Is this a bug or am I doing something wrong?

[2019-02-04 15:09] #1521 closed

[2019-02-04 15:09] darkogj commented on #1521
Nevermind, figured I need to add "if request.path_info != "/login""

[2019-02-04 21:57] yoLotus commented on #1507
Hello @namusyaka

Just tried your patch by running the example of my first comment of this thread (by removing the `Sinatra::Application.run!` statement) it works perfectly, and the diff is really minimal.

Don't know if a test should be add, but if you think it is not necessary, everything seems good on my side.

Thanks a lot for the patch!

[2019-02-05 16:22] namusyaka commented on #1507
It's worth testing, of course. Thanks for confirming.

[2019-02-05 23:19] #1507 closed

[2019-02-07 16:21] #1514 closed

[2019-02-18 06:24] darkn3rd commented on #1319
I am running into this problem with Sinatra 2.0.5:

[code]

And getting all these errors with:

[code]

[2019-02-22 16:08] noahniuwa commented on #1294
How did you know which version numbers to use?

[2019-04-08 20:40] gartha1 opened #1525 "why specify :locals when passing variables?"
This is a question about the design choice behind the signature of the erb method. It seems superfluous to have to say :locals. And it's a bit unintuitive since it doesn't seem necessary.

I notice that one can do

get '/' do
erb :index, {:locals => {:aaa=>"bbabb"}}
end

(I've included the curly braces on the last parameter just for clarity).

and of that hash  {:locals => {:aaa=>"bbabb"}}

I unde

[2019-04-09 21:21] jkowens commented on #1525
It looks like there are two ways to pass `locals` to your erb template:

[code]

or

[code]

The second argument to the `erb` method is an options hash. That is why the `:locals` key is necessary. The third argument is a locals hash. See https://github.com/sinatra/sinatra/blob/6f15fba2790ebdf4d1215cebf425dea2ea3130ea/lib/sinatra/base.rb#L681

https://github.com/sinatra/sinatra/blob/6f15fba2790ebdf

[2019-04-11 03:07] gartha1 commented on #1525
ah I see, thanks, http://sinatrarb.com/intro.html .

Templates take a second argument, the options hash:

(I think it means the template language's rendering method, when taking two arguments, the second argument is an options hash)

Then it lists available options, one is locals, and there are others

Available Options:

locals
List of locals passed to the document. Handy with partials. Example:

[2019-04-11 03:08] #1525 closed

[2019-04-20 21:18] rubyFeedback opened #1530 "[Documentation] Sinatra tricks and tips, contributed by sinatra-users"
I would like to propose an addition to:

http://sinatrarb.com/documentation.html

In particular I would be interested in a tricks or tips collection, e. g. useful tidbids.

I am presently learning sinatra and I am already using it. However had, there is a lot I don't know, and I only learn step by step, little by little (I know a lot about ruby though).

For me it would be most helpful if we would

[2019-04-22 13:38] namusyaka opened #1531 "Sinatra v3.0.0"
I'm planning to list the major tasks for Sinatra v3.0.0.

### Improve performance by especially focusing on our routing algorithm.

I'd love to improve the performance.
As a PoC, I have implemented [pendragon](https://github.com/namusyaka/pendragon) and its [radix tree implementation](https://github.com/namusyaka/pendragon-radix/blob/master/lib/pendragon/radix.rb).
In fact, we need to implement or

[2019-04-22 13:39] namusyaka commented on #1509
@kgrz Any progress on this?

[2019-04-23 03:44] jkowens commented on #1531
I absolutely think you're right about the need to refactor the code base. If new developers are going to be moved to help contribute to Sinatra and move it forward, the code needs to be better organized.

If performance can be improved, that will go a long ways toward keeping Sinatra relevant as well. Besides the routing tree that Roda has implemented, I like their philosophy of avoiding "pollutio

[2019-04-26 14:25] ChrisBAshton commented on #1207
Can you close this issue please? #1208 has been merged 🎉

[2019-04-29 17:27] 304 commented on #1531
I fully support the idea of splitting `base.rb` into separate files. It can definitely be confusing for new contributors when they see almost 2k lines of code in a single file.

I would also like to share an idea and see if it makes sense to implement that. The suggestion is to introduce [Rubocop](https://github.com/rubocop-hq/rubocop) to maintain the consistent code style across the project. It c

[2019-04-30 12:52] rubyFeedback opened #1534 "[Documentation] Sinatra reloader"
I am reading this link right now:

http://sinatrarb.com/contrib/reloader

Would it be possible to extend this documentation slightly, e. g. by adding a complete stand-alone example, and explaining how to use it?

Sorry for these newbie questions but I am still only slowly learning sinatra; that takes some time.

I understand that a reloader helps reload/restart the server (I suppose) upon a change

[2019-04-30 13:21] jkowens commented on #1417
@namusyaka can this issue be closed based on the outcome of #1418?

[2019-05-01 16:31] juju2great opened #1535 "False"
https://github.com/sinatra/sinatra/blob/5e2e41f28395d68a922b60bc851951d46accf2b7/.travis.yml#L43

[2019-05-02 17:04] gklueh opened #1536 "Passing variable between scopes"
I am trying to capture the pid (Process ID) from an external ruby script executed from within sinatra, and kill it via a cancel button in my app. I am attempting to do this as follows:

**My "before scope**
before do
    @processPID = 0
end

**My First "get" scope**
get "/startAll" do
    pipe = IO.popen("ruby content/scripts/api.rb --name=test_suite_full_api 2>&1 &")
    @processPID = pipe.pid

[2019-05-02 19:33] dentarg commented on #1536
You need to store the PID somewhere were it survives the request cycle ([this answer](https://stackoverflow.com/questions/8281645/is-a-new-instance-of-sinatra-started-on-every-request) might help understand this)

https://github.com/steveklabnik/request_store is a useful gem for that

[2019-05-03 18:29] gklueh commented on #1536
Thanks @dentarg -  I attempted to implement the "request_store" gem however it feels like the request is not being stored correctly in this request_store, as I am still getting 0, or whatever I declare in the "before" block (now -1). It's like its not being stored and the "before" block is resetting it before each new scope. And if I comment out the initial store in the "before" block, it sets Req

[2019-05-03 18:41] dentarg commented on #1536
Why do you think you need the before block and the code in there?

[2019-05-03 18:54] gklueh commented on #1536
Initially I thought it would set the variable before anything else ran. And when I remove the before block, and put the code that was in it outside of it (under my require), I also get the same output result.

[2019-05-03 20:01] jkowens commented on #1536
To share variables between requests, I think you'll need to store the data somewhere (database, filesystem, etc).

For instance you can do the following to store the pid on the filesystem. You will have to add code to manage deleting the pid file when appropriate.

In `/startAll`:
[code]
In `/cancelAll`:
[code]

[2019-05-03 20:26] dentarg commented on #1536
@gklueh sorry, I don't know what I was thinking 🤦‍♂️ forget my advice about request store, that's also just during the request cycle

Listen to @jkowens

Redis is an easy to use key value store for use cases like this

[2019-05-03 20:28] dentarg commented on #1536
If it's okay maybe you could use something in memory too (info will get lost when app is shutdown)

[2019-05-04 09:21] #1535 closed

[2019-05-04 15:38] SwagDevOps commented on #1534
Should use [rerun](https://github.com/alexch/rerun).

[2019-05-06 13:52] gklueh commented on #1536
Thanks @jkowens & @dentarg !! I am now able to save and retrieve the pid from the file as indicated... it is however not the pid I expect (i.e. not for the process started via `pipe = IO.popen("ruby content/scripts/api.rb --name=test_suite_full_api 2>&1 &")`), its always 1 or 2 numbers before the pid of this actual process - but that is a new problem to solve I guess :)

[2019-05-06 17:06] #1536 closed

[2019-05-07 08:11] namusyaka commented on #1531
@304 First off, thanks so much for proposing the idea and working on that.
Overall seems good to me. To be honest, I don't think Rubocop is always good because I'm remembering https://github.com/ruby-grape/grape/pull/1548 in Grape. As above link, I think Rubocop sometimes raises a new problem, however Rubocop is very useful for providing consistency on our development for new comers on the other h

[2019-05-08 01:25] ChaosData opened #1538 "Current security contact?"
Hi,

I attempted to send an email to `sinatra-security@googlegroups.com`, per <https://github.com/sinatra/sinatra/blob/master/SECURITY.md>, but I got a bounce reply from `mailer-daemon@googlemail.com` with the following:

[code]

If this is still the correct contact address, and, if so, can someone grant posting access to `jeff.dileo@nccgroup.com` so I can resend? Alternatively, can someone confir

[2019-05-08 04:38] namusyaka commented on #1538
I'm a maintainer on this project.
Could you send me the details?
namusyaka@gmail.com

[2019-05-08 22:30] mkimClio opened #1539 "Sinatra 2.0.3 depends on rack-protection 2.0.5, not 2.0.3"
I am trying to add sinatra 2.0.3, which at one point depended on rack-protection 2.0.3 as listed on RubyGems https://rubygems.org/gems/sinatra/versions/2.0.3, which is what I want.

However, if I add Sinatra 2.0.3 and run bundle install - I get an error because it says Sinatra 2.0.3 depends on rack-protection 2.0.5.

<img width="483" alt="Screen Shot 2019-05-08 at 3 29 21 PM" src="https://user-ima

[2019-05-08 23:07] #1539 closed

[2019-05-08 23:08] mkimClio commented on #1539
Figured out this was an issue with our Gemfile.lock.

[2019-05-09 18:34] ChaosData commented on #1538
Can you confirm that you received the email?

[2019-05-13 21:28] SwagDevOps commented on #1518
Interesting issue 👍

[2019-05-22 05:14] FranklinYu commented on #484
@zzak The `custom_logger` only modifies `logger` in request handler; logs produced by `Rack::CommonLogger` is still sent to STDERR.

@diei This duplicates the log from STDOUT to the file instead of redirection.

[2019-05-26 00:15] MOZGIII commented on #1238
It's been a long time now... I wonder if it's still relevant. If the issue is still there - the PR solves it, so why don't we merge it?

[2019-05-27 07:16] mathieujobin commented on #60
I have a weird issue where `request.body.read` returns an empty string, but `request.POST` contains a weird hash, there the single key is a truncated part of the json body string, and the value is another single k/v hash where the key is the continuity of the json string, and the value is yet another hash, with the last bit ...

[2019-05-27 07:18] mathieujobin commented on #60
[code]

[2019-05-27 19:12] jeduardo824 commented on #1249
I noticed that pt-br translation needs some updates. @Klockner are you working on this? I can start to work on those updates if you stopped to translate :)

[2019-05-27 19:29] Klockner commented on #1249
@jeduardo824 sounds great for me, if it's ok for @burningTyger go ahead! I can also do the pt-br review for you =)

[2019-05-28 15:57] burningTyger commented on #1249
sure, just go ahead.

[2019-06-03 07:18] sg552 opened #1541 "Is there performance problem with modular sinatra ?"
Today I am coding Sinatra for an API application, and found that:

1. Classic sinatra code can process 1800 request/second.
2. Modular sinatra code can only process:
  2.1 800 requests/s , with puma as the server.
  2.2 1100 requests/s, with thin as the server.

How to reproduce this:

# classic sinatra

[code]

run :

[code]

test:

`$ ab -n 1000 -c 100 http://localhost:4567/`

and got result:

[

[2019-06-03 09:39] sg552 commented on #1541
OK, the key is :
start sinatra don't with "rackup".

e.g.

wrong:  $ ruby main.rb (based on rack?)
wrong:  $ rackup config.ru (based on rack)
wrong:  $ rackup config.ru -s thin ( event based on rack)
correct: $ bundle exec thin start -R config.ru -e production

[2019-06-03 09:39] #1541 closed

[2019-06-05 21:18] daveroberts opened #1542 "Call before block before serving"
I have an application with a before block:

[code]

Right now, files which are in the public folder are served without running the before block.  I want to ensure users are logged in to get these files.  How can I do that?

[2019-06-06 00:41] halan commented on #1531
I did the very first step of splitting `base.rb` into files. I can help refactoring small pieces too after that.

[2019-06-06 17:22] dentarg commented on #1542
I think you need to not use the `public_folder` functionality then, and instead serve them yourself (define routes for them).

I think the point of the public folder is to serve static files as quick as possible, and therefore not run any before hooks. I assume Sinatra has had this behaviour for a great while, so it is probably not likely to change.

It doesn't look like you can customize this beh

[2019-06-06 17:42] daveroberts commented on #1542
Thanks for your reply.  If I wanted to serve the files myself by defining routes, how could I do this (short of naming each file individually?)

[2019-06-06 17:53] dentarg commented on #1542
You can use http://ruby-doc.org/core-2.4.2/Dir.html#method-c-entries to list files in folder

[2019-06-14 10:19] namusyaka commented on #1531
I know your contributions and other incoming PRs exist, but I have been ultra busy now.
I'll try to review those by next month. Sorry for the inconvenience.

[2019-06-22 12:37] leafac opened #1544 "Development 404 page still shows up when using `-e production` command-line flag"
Let `server.rb` be simply

[code]

Now run it with

[code]

Sinatra will say that it’s running in production mode:

[code]

But visit <http://localhost:4567> and you’ll see the development 404 page:

<img width="508" alt="Screen Shot 2019-06-22 at 08 35 48" src="https://user-images.githubusercontent.com/586813/59964008-bf939100-94c8-11e9-9bbc-01f4e032ea45.png">

I tried this with both WEBrick and

[2019-06-23 18:54] thesecretmaster opened #1545 "FAQ update: Migrations"
I was just looking into the FAQ, and I read the section on [migrations](http://sinatrarb.com/faq.html#ar-migrations). While it seems like that code works, I think it'd be really useful to at least point users to the [sinatra-activerecord](https://github.com/janko/sinatra-activerecord) gem. I've been using it for a few years now and it's been great, and is more complete then the solution suggested

[2019-06-24 15:26] adbatista commented on #1531
I would like to help with this, but probably should wait for #1543 first right?

[2019-06-25 12:14] kgrz commented on #1545
Agreed. Can you open a PR with the changes? May be also link the recipes website (http://recipes.sinatrarb.com/p/databases?#article) which has some more (possibly outdated, albeit) examples

[2019-07-03 06:56] bencoman opened #1546 "Content-Disposition spacing between parameters"
Please excuse me if I'm in the wrong place.  I'm following up an issue I logged at https://github.com/exercism/exercism/issues/4357 (since I believe Exercism is using Sinatra https://github.com/exercism/exercism/pull/3775)

I have a client that sends...
[code]
which fails with "500 INTERNAL SERVER ERROR".

Another client works with...
[code]
with the difference being the space after the semi-colon

[2019-07-04 20:13] jkowens commented on #1544
This is an interesting issue. It happens because this block is called before the command line options are parse and handled:

https://github.com/sinatra/sinatra/blob/eee711bce740d38a9a91aa6028688c9a6d74b23b/lib/sinatra/base.rb#L1835

Command line options are processed later here:

https://github.com/sinatra/sinatra/blob/eee711bce740d38a9a91aa6028688c9a6d74b23b/lib/sinatra/main.rb#L13

To fix this

[2019-07-05 18:54] leafac commented on #1544
How do you think this problem should be solved?

[2019-07-05 19:04] jkowens commented on #1544
Good question, I tried a couple options and realized it isn’t as easy to fix as I hoped.  The issue is that classical apps extend Application which extends Base (where the configurations are originally made). So supporting both classic and modular style apps becomes tricky. If anyone has any ideas please chime in 🙂

[2019-07-06 01:49] leafac commented on #1544
Hmmm, what if we didn’t offer the command-line flag? It’s awkward that we have two ways of accomplishing the same thing, and it’s difficult to tell which should be preferred (the environment variable, it seems).

[2019-07-07 03:48] jkowens commented on #1544
That sounds like a valid option to me. I put together a PR #1547 for another possible solution.

[2019-07-07 16:08] pedropaulino commented on #1249
Anyone need help with the Brazilian Portuguese ?

[2019-07-10 00:02] voodoologic commented on #1294
I had this problem w/ ruby 2.6.3 and I just reverted to ruby 2.3.7

[2019-07-12 15:13] stephenreay commented on #1514
I've just come across this bug, 7 months after a fix for it was merged, because there's no newer release of Sinatra available to install.

I don't know what your usual release schedule is, but at this rate it's a 1 month delay for each extra character in the library.

Yes, I can get around it by installing a more recent version of Ruby, but when a client is using an LTS distro release, it's not al

[2019-07-14 14:01] aonemd commented on #1319
@darkn3rd can confirm, currently running sinatra 2.0.5.

[2019-07-18 01:21] thesecretmaster opened #1548 "Catchall error block fails to catch direct decendants of Exception"
Because the conditional on this line checks for strictly less than instead of less than or equal to, error blocks are unable to catch any thing which is a direct descendant of Exception.

https://github.com/sinatra/sinatra/blob/eee711bce740d38a9a91aa6028688c9a6d74b23b/lib/sinatra/base.rb#L1153

Here's a quick ~~(untested)~~ example:

[code]

After visiting `/`, the error block will not be called.

[2019-07-18 18:17] pedropaulino commented on #1249
Is the topic still valid ?

[2019-07-18 18:19] jeduardo824 commented on #1249
@pedropaulino I updated Brazillian Portuguese translation. Waiting for the merge.

[2019-07-20 10:09] burningTyger commented on #1249
I've had a very quick glance at it. Please fix the following parts:
-[Definindo Corpo, Código de Status e Cabeçalhos] (#definindo-corpo-codigo-de-status-cabeçalhos) -> space
- Configurações Disponíveis has a messed up markup, parts of it show up in monospaced font
- there is something wrong at the very bottom of the file

[2019-07-23 13:41] RootTJNII opened #1549 "Sinatra 2.0.5 memory corruption when storing output of params[]"
When storing the output of params[] in a downstream data structure the value is being corrupted across requests.

Take the following exemplar server:  https://github.com/RootTJNII/20190723SinatraBugExamplar/blob/master/server/app/api.rb

This is a minimal example app that has a single endpoint.
It caches the :id from the URL in a hash on the first request for :id, and returns the cached value on s

[2019-07-23 13:49] RootTJNII commented on #1549
Not able to reproduce using the Ruby:2.5 Docker container.  Now wondering if this is a Ruby bug and not a Sinatra bug.

[2019-07-23 15:31] dentarg commented on #1549
@RootTJNII just to be clear, you are able to reproduce this with Ruby 2.6? ([as specified in your Dockerfile](https://github.com/RootTJNII/20190723SinatraBugExamplar/blob/4d3fd54ed528864cd54d64a58ae9e32495c4be86/server/Dockerfile))

[2019-07-23 15:43] RootTJNII commented on #1549
@dentarg Correct.  I can reliably reproduce with the linked repo which pulls from the Ruby:2.6 container.

[2019-07-23 16:29] dentarg commented on #1549
What you are seeing is https://bugs.ruby-lang.org/issues/15792 and it has been fixed:  https://github.com/ruby/ruby/commit/3f9562015e651735bfc2fdd14e8f6963b673e22a, but there hasn't been any 2.6 release since. The fix is in `ruby 2.7.0preview1` and I'm not able to reproduce with 2.7.

[2019-07-23 17:36] RootTJNII commented on #1549
Great, thanks.  I was suspicious this was one of the recent use-after-close bugs I saw on bugs.ruby-lang.org, thank you for confirming.

[2019-07-23 17:36] #1549 closed

[2019-07-31 09:25] relip opened #1551 "Logger option for lifecycle announcement"
We use Logstash for logging solution and it requires their own log formats. However, Sinatra only prints startup/shutdown log to`$stderr` which no alternative options available on formatting and logging target.

https://github.com/sinatra/sinatra/blob/eee711bce740d38a9a91aa6028688c9a6d74b23b/lib/sinatra/base.rb#L1525
https://github.com/sinatra/sinatra/blob/eee711bce740d38a9a91aa6028688c9a6d74b23b/

[2019-08-10 07:45] mig-hub commented on #1440
I am using redcarpet and I have the same issue.

[2019-08-14 17:56] adbatista commented on #1531
Hi, @namusyaka I think you still are pretty busy but if you need some help please let me know :D
I'm looking forward to getting Sinatra 3.0 ready for use :D

[2019-08-17 14:46] namusyaka commented on #1545
Closed via https://github.com/sinatra/sinatra.github.com/pull/250

[2019-08-17 14:46] #1545 closed

[2019-08-17 15:39] #1544 closed

[2019-08-17 18:12] namusyaka commented on #1548
@thesecretmaster Thanks for filing an issue.

What's your motivation to use `StandardError`? Even the default `raise` (IOW raise with no argument) raises `RuntimeError` (it's a subclass of `StandardError`) instead of raw `StandardError`.

If you have a good justification regarding your motivation and have a good patch (this meant the patch must not break other tested behavior), please submit a PR.

[2019-08-17 18:47] namusyaka commented on #1546
Could you provide a minimal example for reproducing your issue?

[2019-08-17 18:55] namusyaka commented on #1542
@daveroberts You can use `send_file` for use in serving static files with sinatra idioms, it would be something like:

[code]

[2019-08-17 18:55] namusyaka commented on #1542
@daveroberts If your question can be resolved by our comments, please close this issue.

[2019-08-17 19:02] namusyaka commented on #1531
@adbatista Great, thanks for your kindness comment.

To everyone:  I'm thinking how we make v3.0.0 more great for a lot of rubyists.
This is a new idea:

- How about Sinatra to be a cloud native Rack application?
  - This purpose doesn't mean our code changes, but growth of our eco-system by creating related code example, library and gems.
  - e.g. a recipe for sinatra on kubernetes, sinatra on aw

[2019-08-18 13:56] dentarg commented on #1548
I think it is pretty common to inherit `StandardError` and not `RuntimeError` when you create your own error class. I've written such code in my own applications.

As an example, I just checked [Sequel](https://github.com/jeremyevans/sequel). Now, I'm not sure Sequel itself ever raise `Sequel::Error`, but if it did, the error block wouldn't catch it.

[code]

[2019-08-18 14:17] dentarg commented on #1548
With `set :show_exceptions, false` (or `RACK_ENV=production`), I can see the error block being called, even with `raise StandardError` using Sinatra 2.0.5.

[2019-08-19 13:40] namusyaka opened #1556 "add TODOs in code for v3.0.0"
Related to #1531

I know we have a lot of TODOs for v3.0.0, such as refactoring, better code, simplifying logic etc.
I think we are already able to start adding comments like `# TODO(namusyaka): for listing our tasks` in our code.

This is a simple unclosable issue, but let me put this as an our reminder.

cc @jkowens

[2019-08-20 11:47] namusyaka opened #1557 "Heads-up to dependents"
We're planning to change a lot of things in v3.0.0, probably we'll break some backward-compatibility at the same time.
We should cut some release candidates for the version, of course, but I guess it's not enough.

In order to reduce the number of people who suffer from large changes in v3.0.0, I believe that it's very effective to heads-up in advance to the major dependents.

[2019-08-21 19:26] jkowens commented on #1440
This appears to be a Tilt issue. A workaround can be done like below:

[code]

[2019-08-21 19:36] rubys opened #1559 "Sinatra 2.0.6 regression: OptionParser::InvalidOption: invalid option: --pattern"
Error:

    OptionParser::InvalidOption:
      invalid option: --pattern
    # /var/lib/gems/2.5.0/gems/sinatra-2.0.6/lib/sinatra/main.rb:18:in `<module:Sinatra>'

Reproduction instructions:

$ git clone https://github.com/rubys/sinatra206.git
$ cd sinatra206
$ bundle install
$ bundle exec rake test

This worked with Sinatra 2.0.5.  See also https://travis-ci.org/apache/whimsy/jobs/574961311

[2019-08-21 19:51] jkowens commented on #1440
Issue reported to Tilt. See rtomayko/tilt/issues/345.

[2019-08-21 19:51] #1440 closed

[2019-08-21 22:55] namusyaka commented on #1559
Thanks for the report. We'll cut a new release v2.0.6.1 after fixing the issue.

[2019-08-21 23:09] jgarber623 commented on #1559
I believe this same bug is causing issues with RSpec when invoked using `bundle exec rake`:

[code]

Strangely (to me, at least), `bundle exec rspec` works just fine which led me to the `--pattern` bit maybe being the issue.

`bundle exec rake` worked as expected before updating several of my applications to v2.0.6.

[2019-08-21 23:14] namusyaka commented on #1559
This is because the difference between the actual executable file and the actual caller haven't been handled properly.

[2019-08-21 23:18] jgarber623 commented on #1559
Oh, shoot. Apologies for the noise. The application code linked in the initial bug report is also using RSpec.

[2019-08-22 00:32] namusyaka commented on #1559
@jgarber623 @rubys Could you try again with #1560?

[2019-08-22 00:42] rubys commented on #1559
My tests pass with #1560 applied.

[2019-08-22 00:54] namusyaka commented on #1559
I'll cut a patch release tonight (JST)
LMK if you still have issues.

[2019-08-22 01:23] #1559 closed

[2019-08-22 03:46] sue445 commented on #1559
@namusyaka thank you for bugfix. #1560 works on my app too!

[2019-08-22 10:08] namusyaka commented on #1559
Released v2.0.7: https://rubygems.org/gems/sinatra/versions/2.0.7
Thanks all for your feedback, it was very helpful to me.

[2019-08-22 13:47] janko commented on #1546
If this is coming from a `multipart/form-data` POST request, then this parsing happens in Rack, not in Sinatra.

[2019-08-22 21:34] jkowens commented on #1424
Closing because this appears to be a duplicate of #1403.

[2019-08-22 21:34] #1424 closed

[2019-08-22 21:43] jkowens commented on #1403
From what I understand it is considered good practice to have the `Expires` header and `max-age` directive contain matching values. If any change is necessary, I think that the `cache_control` method should set the `Expires` header with a matching time value.

[2019-08-22 21:49] jkowens commented on #1434
@hbasheer can you let me know if this is still an issue with the latest versions of Sinatra? I'm wondering if a fix released in v2.0.4 would have resolved your issue?

[2019-08-23 01:19] dshorthouse opened #1562 "restructuring of main.rb breaks other uses of optparse"
Because main.rb has been restructured, it breaks use of optparse elsewhere in my app. I have an environment file in which I require the sinatra gem because I make use of sinatra/config_file. I also have some optparse-based scripts executed on the command line that also require sinatra and sinatra/config_file.

[2019-08-23 01:24] namusyaka commented on #1562
Can you provide a minimal example with your Gemfile.lock?

[2019-08-23 01:26] namusyaka commented on #1562
Also the regression around optparse was fixed in #1559, have you tried v2.0.7?

[2019-08-23 01:41] dshorthouse commented on #1562
Thanks, am on 2.0.7. The following would have worked in 2.0.6 but does not now with 2.0.7:

[code]
If you execute such a script with sinatra required, main.rb swallows all the params.

[2019-08-23 02:06] namusyaka commented on #1562
Well, I have tried the above code in v2.0.5, v2.0.6 and v2.0.7. But I could't find any difference.
Perhaps the code you provided is missing a part for reproducing your issue.

[2019-08-23 02:07] namusyaka commented on #1562
Btw, please don't expect v2.0.6 to be correct.

[2019-08-23 02:52] jkowens commented on #1465
I know this is kind of dated, but here is an interesting blog post that might spur some ideas:

https://softwarebrothers.co/blog/using-sinatra-with-asset-pipeline-and-railsassets/

[2019-08-23 02:52] #1465 closed

[2019-08-23 03:15] bencoman commented on #1546
Thanks. That helped.  I've opened https://github.com/rack/rack/issues/1386

[2019-08-23 03:15] #1546 closed

[2019-08-23 14:44] namusyaka commented on #1562
@dshorthouse Yes, I can see the same thing, it's expected originally. You can see the same even if using v2.0.5, right? This question is for making sure that your issue is not a regression.

If you wouldn't like to use sinatra as a CLI tool, or would like to overwrite option parameters, you should use `sinatra/base` instead.

[2019-08-23 14:55] dshorthouse commented on #1562
Thanks for this. Indeed, same if using v2.0.5 I see now. My issue is that I'd very much like to `register Sinatra::ConfigFile` because I have a yaml config to be used via both CLI scripts and a web app. Either of those scenarios `require sinatra`.

[2019-08-23 15:38] namusyaka opened #1563 "Sinatra::Contrib::ConfigFile should allow *.yaml"
Currently it won't accept that, only `.yml` or `.yml.erb`.
Here is an error message:
[code]

However, as you can see in [kubernetes](https://github.com/kubernetes/examples/blob/5207e2a1c513d199b4ff05c9e534678ae8fc905a/cassandra/image/files/cassandra.yaml), `.yaml` is also known as a valid extension.

If you're interested in sending a patch to sinatra, feel free to submit a PR.

[2019-08-23 15:48] namusyaka commented on #1562
At first, I'm completely not sure that your app's definition and its context. So I can say something only about sinatra.

In my understand, perhaps you'd like to use Sinatra::Contrib in both CLI and webapp, right?
This should be sufficient just to use the `require 'sinatra/base'` that I mentioned earlier.
Calling `require 'sinatra'` expects the caller executable to behave like a web server. This i

[2019-08-23 16:06] dshorthouse commented on #1562
OK, thanks for the feedback. Guess I'll just have to restructure what I have as there's no longer a solution. Perhaps there's another gem out there that can do something comparable to `sinatra/config_file` as that's ultimately what I needed.

[2019-08-23 16:06] #1562 closed

[2019-08-24 01:51] #1207 closed

[2019-08-26 03:59] #1464 closed

[2019-08-26 04:15] #1378 closed

[2019-09-09 02:01] jkowens commented on #1563
Closed by #1564.

[2019-09-09 02:01] #1563 closed

[2019-09-12 03:32] nutronex commented on #1428
By the way, Is it possible to attack against other , I think so because  form content-type "x-www-form-urlencoded" will encode < to %3c and "text/palin" will not work in sinatra in this case .

[2019-09-12 16:52] DannyBen opened #1567 "@params are reset to pre-filter state if there are parameters in the filter's path pattern"
Hello,

I am fairly sure this is a bug and not an intended behavior. I may be wrong though.

When amending `@params` from `before` blocks, a different behavior is observed when the `before` filter uses parameters in the path.

This was initially discussed in [this StackOverflow question][1].

## Reproduction steps

Create `test.rb`

[code]

Run it:
[code]

Then access it with these three calls:

[

[2019-09-13 20:02] jkowens commented on #1567
I agree, this looks like a bug. We need to remove routing params from the `@params` hash without losing other key/value pairs that could have been added.

[2019-09-24 08:27] georgenica commented on #1139
@zzak as per sinatra/sinatra-contrib#179, this has been taken care since v2, with the introduction of `after_reload`. Looks like this issue could be closed.

If I'm mistaken, would you please indicate if there's anything else that needs done?

[2019-09-24 14:00] jkowens commented on #1139
Yes, it looks like PR https://github.com/sinatra/sinatra/pull/1150 added that feature. Thanks for updating this issue 👍

[2019-09-24 14:00] #1139 closed

[2019-10-01 19:32] camillesk commented on #1249
the issue still valid to new translations?

[2019-10-02 06:29] burningTyger commented on #1249
Sure, but it would be good if someone took this over from me.

[2019-10-06 10:51] pabuisson commented on #1249
I can give a go at updating the French readme, looks like it's not been updated for 6 months.

[2019-10-06 12:28] pabuisson commented on #1249
Got a PR for updates on the French readme : https://github.com/sinatra/sinatra/pull/1568

I might make a separate PR someday for the "sessions" section where a lot of new content is missing. But don't have enough time for it right now.

[2019-10-09 21:40] rubyFeedback commented on #1557
IMO all continued efforts are great for the larger sinatra ecosystem. I use sinatra primarily because it is so much simpler and flexible, so I don't have to use or tap into the complexity of rails, padrino, hanami etc...

Being able to move forward is important for projects. I guess most people will find it easy to transition; perhaps the only ones that may be affected more, would be those with a

[2019-10-10 20:20] srgx commented on #1294
Add require 'bundler/setup' to main.rb.

[2019-10-11 00:38] srgx commented on #1294
Add `require bundler/setup` to main.rb.

[2019-10-11 23:12] ankitsinghaniyaz commented on #1381
My site fails to reload when there's an error. Any idea what could be wrong?

[2019-10-11 23:13] ankitsinghaniyaz commented on #1280
My site fails to reload when there's an error. Any idea what could be wrong?

[2019-10-12 00:59] daBee commented on #1280
What does the error say?  Check your nginx or apache log.

[2019-10-16 19:55] iguchi1124 opened #1571 "Support multiple arguments in IndifferentHash#merge!"
Hash#merge! supports multiple argument from Ruby 2.6 https://bugs.ruby-lang.org/issues/13784

[code]

[2019-10-21 12:14] #940 closed

[2019-10-25 02:55] camillesk commented on #1249
My PR for pt-br translations is here: https://github.com/sinatra/sinatra/pull/1573

Soon I'll update the other half of the file

[2019-10-25 02:59] jeduardo824 commented on #1249
I already have a PR with an updated PT-BR translation @camillesk

[2019-10-26 08:04] horaciob commented on #1567
Hi there I've added a test for this scenario, @jkowens PR makes test runsuccessfully.

[2019-10-26 21:11] jkowens commented on #1548
I'm closing unless more information can be provided as I am seeing the same thing mentioned by @dentarg.

[2019-10-26 21:15] #1172 closed

[2019-10-26 21:18] #1567 closed

[2019-10-31 09:40] salzig commented on #1369
from #1576, as a note for everyone interested:

[2019-11-14 22:00] rubyFeedback opened #1578 "[Installation] Sinatra gem install hangs at ri documentation"
Whenever I try to install the sinatra gem, the first install hangs during:

"Installing ri documentation for sinatra-2.0.7"

I manually interrupt it, then do it again, and then it works.

I have no idea what causes it, but all the other gems and their ri
documentation do not have this issue.

I believe that there must be something special for sinatra documentation
done that causes this behaviour s

[2019-11-15 09:56] horaciob commented on #1578
Hi there.

Here are the steps to reproduce it.

[code]
It's something that also happens with version  < 2.0.0 and i've tried with ruby 2.6.3 2.5.4 and 2.3.4

[2019-11-17 16:27] danbee commented on #1319
@darkn3rd @aonemd I'm seeing the same thing with `sinatra` and `sinatra-contrib`. Did either of you figure out a solution?

[2019-11-17 16:33] danbee commented on #1319
I solved this by only `require`ing the parts of contrib that I need:

[code]

[2019-12-17 06:06] scalp42 opened #1582 "Prevent logging access to a route"
Hi folks,

We have a simple route `/ping and we'd like to prevent logging access to it.

What is the recommended way to do that?

Thank you in advance

[2019-12-20 15:26] jkowens commented on #1582
I haven't tested this but take a look at [silencer](https://github.com/stve/silencer). Depending on how you configure your app Rack may be adding logging middleware.

See: https://stackoverflow.com/questions/30471322/disable-sinatra-standard-output

If you make sure CommonLogger is disabled, and then use Silencer I think you might be good.

[2019-12-20 23:15] scalp42 commented on #1582
I think the challenge is to be able to suppress the access logs per route instead of globally.